.header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    transition: all 1s;
    @media (max-width: 575.98px) {
        background: $darkblue;
    }
    &:before{
        content: "";
        overflow: hidden;
        position: fixed;
        top: 0;
        height: 5.75rem;
        width: 100%;
        background: $darkblue;
        opacity: 1;
        z-index: 1;
        @media (max-width: 575.98px) {
            content: none;
        }
    }
    nav{
        position: relative;
        z-index: 2;
        padding: 0 2rem 0 2rem;
        @media (max-width: 991.98px) {
            padding: 0 1rem;
        }
        .navbar-brand{
            background: $green;
            padding: 1.25rem 1.125rem;
            border-bottom-left-radius: 1.75rem;
            border-bottom-right-radius: 1.75rem;
            &:hover{
                background: rgba(255, 255, 255, 0);
                background: linear-gradient(75deg, rgba(103,254,101,0.75) 30%, rgba(14,0,92,1) 100%);
                svg{
                    fill: $white;
                }
            }
            svg{
                transition: all .2s;
                width: 10rem;
                height: auto;
                fill: $blue;
                @media (max-width: 575.98px) {
                    width: 7rem;
                }
            }
        }
        form{
            @include flexBetween;
            position: relative;
            margin-left: 1rem;
            .search-box {
                position: absolute;
                top : 0;
                left: 0;
                background: rgba(255, 255, 255, 0);
                height: 2.65rem;
                border-radius: 0.25rem;
                padding: 1rem 0.75rem;
                @include flexCenter;
                border: 1px solid rgba(255, 255, 255, 0);
                @media (min-width: 992px) and (max-width: 1199.98px) {
                    height: 2.25rem;
                }
                &:hover{
                    background: #060224;
                    border: 1px solid $white;
                    input{
                        width: 13rem;
                        color: $white;
                        opacity: 1;
                        @media (min-width: 992px) and (max-width: 1199.98px) {
                            width: 6rem;
                        }
                    }
                    a{
                        width: 1.5rem;
                        border-radius: 50%;
                        cursor: pointer;
                        text-decoration: none;
                        opacity: 1;
                        @media (min-width: 992px) and (max-width: 1199.98px) {
                            width: 1.25rem;
                        }
                        img{
                            width: 1.5rem;
                            @media (min-width: 992px) and (max-width: 1199.98px) {
                                width: 1.25rem;
                            }
                        }
                    }
                }
                img{
                    cursor: pointer;
                    width: 1.75rem;
                    height: auto;
                    margin-right: 0.75rem;
                    @media (min-width: 992px) and (max-width: 1199.98px) {
                        width: 1.5rem;
                        margin-right: 0.5rem;
                    }
                }
                input{
                    opacity: 0;
                }
            }
            a{
                opacity: 0;
            }
            input {
                border: none;
                background: none;
                outline: none;
                color: $white;
                font-size: 1rem;
                transition: 0.4s;
                width: 0px;
            }
            label{
                margin-left: 3.5rem;
                font-size: 1.25rem;
                font-weight: 600;
                @media (min-width: 992px) and (max-width: 1199.98px) {
                    font-size: 1rem;
                }
            }
        }
        .navbar-nav{
            .navLink{
                @include flexBetween;
                font-size: 1.25rem;
                font-weight: 600;
                color: $white !important;
                border-radius: 5rem;
                padding: 0.25rem 1.25rem !important;
                border: 0.1875rem solid rgba(255, 255, 255, 0);
                @media (max-width: 575.98px) {
                    font-size: 1.5rem;
                }
                @media (min-width: 992px) and (max-width: 1199.98px) {
                    font-size: 1rem;
                }
                &:hover{
                    color: $green !important;
                    border: 0.1875rem solid $green;
                    .navIcon{
                        fill: $green;
                    }
                }
            }
            .is__active{
                color: $green !important;
                border: 0.1875rem solid $green;
                .navIcon{
                    fill: $green;
                }
            }
            .navIcon{
                width: 1.75rem;
                height: auto;
                margin-right: 0.75rem;
                fill: $white;
                @media (min-width: 992px) and (max-width: 1199.98px) {
                    width: 1.5rem;
                    margin-right: 0.5rem;
                }
            }
            .gameNav{
                width: 2.25rem;
                height: auto;
            }
        }
        .auth-dropdown{
            button{
                color: $white;
                font-size: 1.25rem;
                font-weight: 500;
                transition: all .5s;
                @media (min-width: 992px) and (max-width: 1199.98px) {
                    font-size: 1rem;
                }
                &:after{
                    display: none;
                }
            }
            .dropdown-menu {
                position: absolute;
                background-color: #4A3D7E;
                padding: 0;
                a{
                    color: $white;
                    padding: .65rem 1rem;
                    &:hover, &:focus{
                        background-color: $blue;
                        color: $green;
                    }
                }
            }
            .dropdown-item {
                font-size: 1rem;
                width: 100%;
                clear: both;
                font-weight: 400;
            }
            .is__active{
                color: $white !important;
                border: 0 solid rgba(0,0,0,0) !important;
            }
            .avatar {
                font-size: 1rem;
                display: flex;
                width: 2.75rem;
                height: 2.75rem;
                border-radius: .375rem;
                background-color: rgba(255, 255, 255, 0);
                align-items: center;
                justify-content: center;
                border-radius: 50% !important;
                border: 0.125rem solid $green;
                img {
                    border-radius: 50%!important;
                    width: 2.5rem;
                    height: 2.5rem;
                    position: static;
                }
            }
        }
        .mobile-design{
            margin: 0 1.5rem;
            img{
                position: absolute;
                right: 5rem;
                top: 1.25rem;
                @media screen and (max-width: 991.98px) {
                    width: 2rem;
                    top: 1.5rem;
                }
            }
            .auth-dropdown{
                position: absolute;
                right: 0;
                top: 1rem;
                @media (max-width: 575.98px) {
                    top: 0.5rem;
                }
            }
            .nav-toggle {
                cursor: pointer;
                position: absolute;
                right: 1.5rem;
                top: 2rem;
                width: 2rem;
                z-index: 9000;
                .top{
                    display: block;
                    width: 2rem;
                    height: 0.15rem;
                    background-color: $white;
                    transition: all .5s;
                    margin-bottom: 0.35rem;
                }
                .mid{
                    display: block;
                    width: 2rem;
                    height: 0.15rem;
                    background-color: $white;
                    transition: all .5s;
                    margin-bottom: 0.35rem;
                    position: relative;
                }
                .bot{
                    display: block;
                    width: 2rem;
                    height: 0.2rem;
                    background-color: $white;
                    transition: all .5s;
                }
                .top, .bot {
                    transform-origin: 0.1875rem 0.125rem;
                }
            }


            .menu {
                position: fixed;
                left: 0;
                bottom: 0;
                display: grid;
                align-content: center;
                width: 100%;
                height: 5rem;
                padding: 0 1rem;
                border-top-left-radius: 1.75rem;
                border-top-right-radius: 1.75rem;
                background: $blue;
                box-shadow: 1px 0px 0.75rem 0px rgba(0,0,0,0.5);
                z-index: 1;
                @media only screen and (min-width: 992px) {
                    display: none;
                }
            
                ul {
                    @include flexBetween;
                    @media only screen and (max-width: 991.98px) {
                        justify-content: center;
                        column-gap: 4rem;
                    }
                }
            
                &__link {
                    @include flexCenter;
                    flex-direction: column;
                    border: none;
                    outline: none;
                    color: $green;
                    .is__active {
                        position: relative;
                        color: $green;
                        transition: all 0.35s ease;
                    }
                }
                span {
                    display: none;
                    visibility: visible;
                    font-family: inherit;
                    font-size: 0.875rem;
                    font-weight: 500;
                    line-height: 1.25;
                    text-transform: capitalize;
                }
                .is__active {
                    span{
                        display: block;
                    }
                    .navIcon{
                        fill: $green;
                        margin-right: 0;
                    }
                }
                .navIcon{
                    width: 1.5rem;
                    height: auto;
                    margin-right: 0.75rem;
                    fill: $white;
                    margin-bottom: 0.25rem;
                    @media (min-width: 992px) and (max-width: 1199.98px) {
                        width: 1.5rem;
                        margin-right: 0.5rem;
                    }
                }
                .gameNav{
                    width: 1.85rem;
                    height: auto;
                }
            }
        }  
    }
}

.public-header {
    @media (min-width: 576px) {
        &:before{
            opacity: 0.3;
        }
    }
}

.authModal{
    .modal-dialog {
        color: $black;
        max-width: 36rem;
        @media (min-width: 576px) and (max-width: 1531.98px){
            max-width: 32rem;
        }
        .modal-content {
            background-color: $blue;
            text-align: center;
            .modal-header {
                border-bottom: none;
                margin-left: auto;
                img{
                    cursor: pointer;
                    width: 1.75rem;
                    height: 1.75rem;
                    margin: 1rem 1rem 0 0;
                }
            }
            .modal-body{
                color: $white;
                img{
                    width: 13.5rem;
                    height: auto;
                    margin-bottom:1rem;
                }
                h2{
                    text-align: center;
                    font-size: 1.5rem;
                    font-weight: 800;
                    opacity: 1;
                    margin: 1.5rem 0;
                }
                p{
                    text-align: center;
                    font-size: 1.125rem;
                    font-weight: 500;
                    color: $white;
                    margin-top: 1.25rem;
                    padding: 0 2rem;
                    span{
                        text-align: center;
                        font-size: 1.25rem;
                        font-weight: 600;
                        color: $green;
                        margin: 0;
                        cursor: pointer;
                    }
                }
                h5{
                    text-align: center;
                    font-size: 1.25rem;
                    font-weight: 600;
                    color: $green;
                    margin: 0;
                    cursor: pointer;
                }
                form{
                    margin-top:1.5rem;
                    padding: 0 1rem;
                    input{
                        border: 0.125rem solid $green;
                        height: 3.125rem;
                        background-color: $blue;
                        font-size: 1.25rem;
                        padding: 0.625rem;
                        color: $white;
                        border-radius: 0;
                    }
                }
            }
            .modal-footer{
                justify-content: center;
                border-top: none;
                padding-bottom:3rem;
                button{
                    padding: 0.25rem 4rem;
                    font-size: 1.125rem;
                }
            }
        }
    }
}