.heroBg{
    position: relative;
    background-color: $blue;
    @include bgCover;
    @include flexCenter;
    min-height: 64rem;
    @media (max-width: 575.98px) {
        min-height: 22rem;
        align-items: flex-end;
        margin-top: 4rem;
    }
    &__contents{
        padding: 6rem 6rem 0 0 !important;    
        @media (min-width: 1532px){
            width: 45%;
        }
        @media (max-width: 575.98px) {
            padding: 0 3rem !important;
        }
        @media (min-width: 576px) and (max-width: 991.98px) {
            width: 90% !important;
        }
        img{
            position: relative;
            width: 17rem;
            height: auto;
        }
        h1{
            font-size: 2.4375rem;
            font-weight: 700;
            position: relative;
            padding: 1rem 0 1.25rem 0;
            @media (max-width: 575.98px) {
                font-size: 1.5rem;
            } 
        }
        h2{
            font-size: 2.0625rem;
            font-weight: 600;
            position: relative;
            padding-bottom: 2rem;
            width: 80%;
            @media (max-width: 575.98px) {
                font-size: 1.25rem;
                padding-bottom: 1rem;
            }
            span{
                font-weight: 700;
            }
        }
        h6{
            display: flex;
            justify-content: flex-start;
            position: relative;
            font-family: $ff2;
            font-size: 1.0625rem;
            font-weight: 700;
            margin-left: 8.5rem;
            margin-top: 0.5rem;
            img{
                width: 1.875rem;
                height: 1.375rem;
            }
            span{
                margin-top: 0.5rem;
                margin-left: 0.25rem;
            }
        }
        ul{
            position: relative;
            display: flex;
            li{
                margin: 0 0.5rem;
                button{
                    font-size: 1.25rem;
                    font-weight: 600;
                    border-radius: 1.5rem;
                    padding: 0.25rem 1.75rem 0.25rem 1.75rem;
                    background: $green;
                    color: $blue;
                    transition: all 0.1s ease-in;
                    border: 0;
                    border: 0.125rem solid $green;
                    @media (max-width: 575.98px) {
                        font-size: 1rem;
                    }
                    &:hover{
                        border: 0.125rem solid $green !important;
                        transform: scale(1.05);
                        color: $white;
                        background: $darkblue;
                        a{
                            color: $white;
                        }
                    }
                    a{
                        color: $blue;
                    }
                }
            }
        }
        &:before {
            content: '';
            width: 100%;
            height: 100%;
            background: rgba(255,255,255, 0);
            background: rgba(0, 0, 0, 0) linear-gradient(180deg, rgba(9, 0, 46, 0) 0%, #07002E 80%) 0% 0% no-repeat padding-box;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
            opacity: 1;
            @media (max-width: 575.98px) {
                background: rgba(0, 0, 0, 0) linear-gradient(180deg, rgba(9, 0, 46, 0) 30%, #07002E 100%) 0% 0% no-repeat padding-box;
            }
        }
    }
}

.heroFixed{
    position: fixed;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    right: 0;
}

.onDemandHero{
    align-items: flex-start;
    .heroBg{
        justify-content: flex-start;
        @media (min-width: 1300px) {
            min-height: 56rem;
        }
        &__contents{
            @media (max-width: 575.98px) {
                padding: 0 !important;
            } 
            &:before {
                background: rgba(0, 0, 0, 0) linear-gradient(180deg, rgba(9, 0, 46, 0) 30%, #07002E 95%) 0% 0% no-repeat padding-box;
                @media (max-width: 575.98px) {
                    background: rgba(0, 0, 0, 0) linear-gradient(180deg, rgba(9, 0, 46, 0) 70%, #07002E 100%) 0% 0% no-repeat padding-box;
                } 
            }
            &__text{
                width: 60rem;
                margin: 0 3rem;
                @media (max-width: 575.98px) {
                    width: 90%;
                    margin: 0 auto;    
                    position: relative;
                    top: 12rem;
                } 
                h1{
                    font-size: 2.4375rem;
                    font-weight: 700;
                    color: $green;
                    @media (max-width: 575.98px) {
                        font-size: 1.5rem;
                    } 
                }
                h2{
                    font-size: 1.4375rem;
                    font-weight: 500;
                    @media (max-width: 575.98px) {
                        font-size: 1.125rem;
                    } 
                }
                h4{
                    font-size: 1.5rem;
                    font-weight: 500;  
                    color: $white;
                    position: relative;
                    margin-bottom: 2rem;
                    span{
                        padding: 0.35rem 1rem;
                        border: 1px solid $white;
                        margin: 0 1rem;
                    }
                }
                ul{
                    li{
                        img{
                            width: 2.75rem;
                            height: auto;
                            cursor: pointer;
                            @media (max-width: 575.98px) {
                                width: 2rem;
                            } 
                        }
                        .love{
                            width: 2.95rem;
                            @media (max-width: 575.98px) {
                                width: 2.25rem;
                            } 
                        }
                        button{
                            span{
                                @include flexCenter;
                                img{
                                    width: 1rem;
                                    height: auto;
                                    margin-right: .5rem;
                                }
                            }
                            &:hover{
                                color: $darkblue;
                                background-color: $white !important;
                            }
                        }
                        .secondary{
                            background-color: $blue;
                        }
                    }
                }
            }
        }
    }
    .onDemand_slider{
        min-height: 40rem;
        .swiper-slide-active{
            z-index: 9999;
        }
        .swiper-button-next, .swiper-button-prev{
            padding: 0.75rem 1.35rem;
            border-radius:50%;
            @media (min-width: 992px) and (max-width: 1299.98px) {
                padding: 0 1.5rem;
            }
            @media (min-width: 1300px) and (max-width: 1531.98px){
                padding: 1.25rem 1.5rem;
            }
            @media (min-width: 2500px) {
                padding: 1.25rem;
            }
            &::after {
                font-size: 1.25rem;
                font-weight: 900;
                @media (min-width: 992px) and (max-width: 1299.98px) {
                    padding: 1rem 1.5rem;
                }
            }
        }
        .swiper-button-prev{
            left: 2rem;
            transition: all 0.5s;
            opacity: 1;
            z-index: 999;
            &:after {
                content: "";
                position: absolute;
                width: 3.5rem;
                height: 3.5rem;
                background-image: url("../Image/arrow_left_green.svg");
                @include bgCover;
            }
        }
        .swiper-button-next{
            right: 2rem;
            transition: all 0.5s;
            opacity: 1;
            z-index: 999;
            &:after {
                content: "";
                position: absolute;
                width: 3.5rem;
                height: 3.5rem;
                background-image: url("../Image/arrow_left_green.svg");
                @include bgCover;
                transform: rotate(180deg);
            }
        }
        .swiper-button-disabled{
            opacity: 0;
        }
        .swiper-slide-next, .swiper-slide-prev{
            position: relative;
        }
        .swiper-pagination{
            .swiper-pagination-bullet{
                background: $white;
            }
            .swiper-pagination-bullet-active {
                background: $white;
            }
        }
    }
    .swiper-wrapper{
        .swiper-slide{
            &:not(:first-child){
                .heroBg{
                    @media (min-width: 576px) {
                        padding-left: 3rem;
                    }
                }
            }
        }
    }
}

.detailsHero{
    .heroBg{
        &:before {
            content: '';
            width: 100%;
            height: 100%;
            background: rgba(255,255,255, 0);
            background: rgba(0, 0, 0, 0) linear-gradient(180deg, rgba(9, 0, 46, 0) 0%, #07002E 80%) 0% 0% no-repeat padding-box;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
            opacity: 1;
            @media (max-width: 575.98px) {
                background: rgba(0, 0, 0, 0) linear-gradient(180deg, rgba(9, 0, 46, 0) 30%, #07002E 100%) 0% 0% no-repeat padding-box;
            }
        }
    }
    .close{
        position: relative;
        width: 3rem;
        height: auto;
        margin-bottom: 1rem;
        cursor: pointer;
    }
    &__wrapper{
        width: 78rem;
        margin: 0 auto;
        flex-direction: column;
        align-items: flex-start;
        position: relative;
        @media (max-width: 575.98px) {
            margin-top: 4rem;
            padding: 1rem 1rem;
        }
        @media (min-width: 576px) and (max-width: 991.98px) {
            padding: 1rem 2rem;
        }
        &:before{
            content: '';
            background: url('../Image/LogoGreen.svg');
            @include bgCover;
            position: absolute;
            width: 8rem;
            height: 2.65rem;
            top: 0;
            right: 0;
            cursor: pointer;
            @media (max-width: 575.98px) {
                content: none;
            }
        }
        &__contents{
            position: relative;
            padding: 1rem 0;
            @include flexBetween;
            align-items: flex-start;
            @media (max-width: 575.98px) {
                padding: 0;
            }
            &__left{
                img{
                    width: 20rem;
                    height: auto;
                    border-radius: 1.5rem;
                    border: 0.1875rem solid $green;
                    @media (max-width: 575.98px) {
                        width: 11rem;
                    }
                }
            }
            &__right{
                padding-left: 2rem;
                @media (max-width: 575.98px) {
                    padding: 0 1rem;
                }
                h1{
                    color: $green;
                    font-size: 3rem;
                    font-weight: 700;
                    @media (max-width: 575.98px) {
                        font-size: 1.25rem;
                    }
                    @media (min-width: 576px) and (max-width: 991.98px) {
                        font-size: 1.75rem;
                    }
                }
                h5{
                    font-size: 1.75rem;
                    padding-bottom: 2.25rem;
                    @media (max-width: 575.98px) {
                        padding-bottom: 1.25rem;
                        font-size: 1rem;
                    }
                    @media (min-width: 576px) and (max-width: 991.98px) {
                        padding-bottom: 1.75rem;
                        font-size: 1.25rem;
                    }
                }
                h2{
                    font-size: 1.25rem;
                    padding-top: 1.25rem;
                    font-weight: 500;
                    padding-bottom: 2rem;
                    @media (max-width: 575.98px) {
                        font-size: 1rem;
                        padding-bottom: 1rem;
                        display: none;
                    }
                    @media (min-width: 576px) and (max-width: 991.98px) {
                        font-size: 1rem;
                        padding-bottom: 1rem;
                    }
                    span{
                        font-weight: 600;
                    }
                }
                h4{
                    font-size: 1.5rem;
                    font-weight: 500;
                    padding-bottom: 1rem;
                    @media (max-width: 575.98px) {
                        font-size: 1rem;
                    }
                    @media (min-width: 576px) and (max-width: 991.98px) {
                        font-size: 1.25rem;
                    }
                }
                p{
                    font-size: 1.25rem;
                    @media (max-width: 575.98px) {
                        font-size: 1rem;
                    }
                    @media (min-width: 576px) and (max-width: 991.98px) {
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}

.playerHero{
    .list{
        margin-top: 0;
        margin-bottom: 4rem;
        @media (max-width: 575.98px) {
            margin-top: 5rem;
            margin-bottom: 0;
        }
        @media (min-width: 576px) and (max-width: 991.98px) {
            margin-top: 8rem;
            margin-bottom: 2rem;
        }
    }
    .heroBg{
        flex-direction: column;
        align-items: flex-start;
        background-color: $darkblue;
        min-height: 56rem;
        @media (min-width: 576px) and (max-width: 991.98px) {
            min-height: 44rem;
        }
        .detailsHero__wrapper{
            &:before{
                content: none;
            }
            @media (max-width: 575.98px) {
                width: 100%;
                margin-top: 2rem;
            }
            @media (min-width: 576px) and (max-width: 991.98px) {
                width: 100%;
            }
            &__contents{
                border-radius: 2.5rem 2.5rem 0 0;
                background-color: $blue;
                align-items: center;
                padding: 0;
                @media (max-width: 575.98px) {
                    flex-direction: column;
                }
                &__left{
                    cursor: pointer;
                    width: 43.75rem;
                    position: relative;
                    @media (max-width: 575.98px) {
                        width: 100%;
                    }
                    @media (min-width: 576px) and (max-width: 991.98px) {
                        width: 50%;
                    }
                    &:before {
                        content: '';
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        background: rgba(255, 255, 255, 0);
                        top: 0;
                        left: 0;
                        z-index: 0;
                        opacity: 1;
                        @media (max-width: 575.98px) {
                            background: rgba(0, 0, 0, 0) linear-gradient(180deg, rgba(9, 0, 46, 0) 30%, #0e005c 100%) 0% 0% no-repeat padding-box;
                        }
                    }
                    img{
                        width: 100%;
                        border: none;
                        border-radius: 0;
                        height: 28.125rem;
                    }
                    h1{
                        font-size: 2.4375rem;
                        font-weight: 700;
                        color: $green;
                        position: absolute;
                        bottom: 2rem;
                        left: 2rem;
                        transition: all 0.2s ease-in;
                        opacity: 0;
                        @media (max-width: 575.98px) {
                            font-size: 1.5rem;
                        }
                        @media (min-width: 576px) and (max-width: 991.98px) {
                            font-size: 1.25rem;
                        }
                    }
                    &:hover{
                        &:before {
                            background: rgba(255,255,255, 0);
                            background: rgba(9, 0, 46, 0) linear-gradient(180deg, rgba(9, 0, 46, 0) 0%, #0e005c 100%) 0% 0% no-repeat padding-box;
                        }
                        h1, p{
                            opacity: 1;
                        }
                    }
                }
                &__right{
                    width: 50%;
                    padding: 0 2rem;
                    @media (max-width: 575.98px) {
                        width: 100%;
                    }
                    h5{
                        padding-bottom: 1.125rem;
                        @media (min-width: 576px) and (max-width: 991.98px) {
                            font-size: 1rem;
                        }
                    }
                    h2{
                        @media (min-width: 576px) and (max-width: 991.98px) {
                            font-size: 1rem;
                        }
                    }
                    h6{
                        padding-bottom: 1rem;
                        font-size: 1.25rem;
                    }
                    button{
                        @include flexBetween;
                        align-items: flex-start;
                        font-size: 1.25rem;
                        font-weight: 600;
                        border-radius: 1.5rem;
                        padding: 0.5rem 2rem;
                        background: rgba(255, 255, 255, 0) linear-gradient(270deg, $green 0%, $green 100%) 0% 0% no-repeat padding-box;
                        color: $blue;
                        transition: all 0.3s ease-in;
                        border: 0;
                        margin-bottom: 2rem;
                        @media (max-width: 575.98px) {
                            margin-top: 2rem;
                        }
                        @media (min-width: 576px) and (max-width: 991.98px) {
                            font-size: 0.90rem;
                        }
                        &:hover{
                            transform: scale(1.05);
                        }
                        img{
                            width: 1.25rem;
                            margin-right: 0.5rem;
                            @media (min-width: 576px) and (max-width: 991.98px) {
                                width: 0.90rem;
                            }
                        }
                    }
                    .episodes{
                        position: relative;
                        @media (max-width: 575.98px) {
                            margin-bottom: 0.5rem;
                        }
                        &__single{
                            cursor: pointer;
                            @include flexBetween;
                            border-radius: 0.75rem;
                            margin-bottom: 1rem;
                            background-color:  rgba(62, 51, 125, 0.55);
                            &__left{
                                width: 20%;
                                display: flex;
                                justify-content: space-between;
                                span{
                                    font-size: 1.65rem;
                                    font-weight: 600;
                                }
                                &__thumb{
                                    position: relative;
                                    img{
                                        width: 6rem;
                                        height: 6rem;
                                        object-fit: cover;
                                        cursor: pointer;
                                        border-radius: 0.75rem;
                                        @media (min-width: 576px) and (max-width: 991.98px) {
                                            width: 5.5rem;
                                            height: 4.5rem;
                                        }
                                    }
                                    // &:before{
                                    //     content: '';
                                    //     background: url('../Image/play_button_white.svg');
                                    //     @include bgCover;
                                    //     position: absolute;
                                    //     width: 4rem;
                                    //     height: 4rem;
                                    //     top: 50%;
                                    //     left: 50%;
                                    //     transform: translate(-50%, -50%);
                                    //     cursor: pointer;
                                    // }
                                }
                            }
                            &__right{
                                width: 80%;
                                &__info{
                                    padding-left: 2rem;
                                    h4{
                                        font-size: 1.125rem;
                                        font-weight: 600;
                                        padding-bottom: 0;
                                        @media (min-width: 576px) and (max-width: 991.98px) {
                                            font-size: 1rem;
                                        }
                                    }
                                    p{
                                        font-size: 1rem;
                                    }
                                }
                            }
                            &:last-child{
                                margin-bottom: 0;
                            }
                        }
                    }
                }
            }
            &__settings{
                background-color: $blue;
                @include flexBetween;
                padding: 1rem 2rem;
                border-radius: 0 0 1rem 1rem;
                .left{
                    @include flexCenter;
                    justify-content: flex-start;
                    width: 75%;
                    @media (max-width: 575.98px) {
                        padding-right: 2rem;
                    }
                    img{
                        cursor: pointer;
                        width: 1.75rem;
                        height: auto;
                        @media (max-width: 575.98px) {
                            width: 1.5rem;
                        }
                    }
                    p{
                        color: $white;
                        padding-left: 1rem;
                        font-size: 1rem;
                        span{
                            font-weight: 700;
                        }
                    }
                }
                .right{
                    width: 25%;
                    @include flexCenter;
                    justify-content: flex-end;
                    img{
                        cursor: pointer;
                        width: 1.25rem;
                        height: auto;
                        margin-left: 1rem;
                        @media (max-width: 575.98px) {
                            width: 1.5rem;
                        }
                    }
                    .sound{
                        width: 1.75rem;
                    }
                }
            }
        }
    }
}

.gameHero{
    .list{
        @media (min-width: 576px) {
            margin-top: 8rem;
            margin-bottom: 2rem;
        }
    }
}

.allEpisodes{
    background-color: $darkblue;
    position: relative;
    &__buttons{
        width: 78rem;
        margin: 0 auto;
        position: relative;
        padding: 1rem 0;
        @include flexBetween;
        @media (max-width: 575.98px) {
            flex-direction: column;
        }
        @media (min-width: 576px) and (max-width: 991.98px) {
            padding: 1rem 2rem;
        }
        @media (max-width: 991.98px) {
            width: 100%;
        }
        ul{
            @include flexBetween;
            li{
                margin-right: 1rem;
                    button{
                        @include flexBetween;
                        align-items: flex-start;
                        font-size: 1.25rem;
                        font-weight: 600;
                        border-radius: 1.5rem;
                        padding: 0.5rem 2rem;
                        background: rgba(255, 255, 255, 0) linear-gradient(270deg, $green 0%, $green 100%) 0% 0% no-repeat padding-box;
                        color: $blue;
                        transition: all 0.3s ease-in;
                        border: 0;
                        &:hover{
                            transform: scale(1.05);
                        }
                        img{
                            width: 1.25rem;
                            margin-right: 0.5rem;
                        }
                    }
                    img{
                        cursor: pointer;
                        width: 2.85rem;
                        height: auto;
                        @media (max-width: 575.98px) {
                            width: 1.5rem;
                        }
                    }
               }
        }
    }
    &__body{
        width: 78rem;
        margin: 0 auto;
        @media (max-width: 991.98px) {
            width: 100%;
        }
        &__contents{
            padding: 1rem 0 0 0;
            @media (max-width: 575.98px) {
                padding: 1rem;
                flex-direction: column;
            }
            @media (min-width: 576px) and (max-width: 991.98px) {
                padding: 1rem 2rem;
            }
            &__title{
                @include flexBetween;
                h2{
                    font-size: 2.125rem;
                    font-weight: 600;
                    @media (max-width: 575.98px) {
                        font-size: 1.25rem;
                    }
                    @media (min-width: 576px) and (max-width: 991.98px) {
                        font-size: 1.75rem;
                        padding-bottom: 1rem;
                    }
                }
                .input-group{
                    width: auto;
                    select{
                        border: none;
                        font-size: 1.25rem;
                        padding: 0.5rem 1rem;
                        font-weight: 600;
                        color: $white;
                        background-color: #3E337D;
                        @media (max-width: 575.98px) {
                            font-size: 1rem;
                        }
                        @media (min-width: 576px) and (max-width: 991.98px) {
                            font-size: 1.5rem;
                        }
                    }
                }
            }
            &__episodes{
                position: relative;
                &__single{
                    @include flexBetween;
                    align-items: flex-start;
                    padding: 2rem 0;
                    border-bottom: 0.125rem solid #3E337D;
                    @media (max-width: 575.98px) {
                        flex-direction: column;
                    }
                    &__left{
                        width: 36%;
                        display: flex;
                        justify-content: space-between;
                        @media (max-width: 575.98px) {
                            width: 100%;
                            padding-bottom: 2rem;
                        }
                        span{
                            font-size: 1.65rem;
                            font-weight: 600;
                        }
                        &__thumb{
                            position: relative;
                            img{
                                width: 24.5rem;
                                height: auto;
                                cursor: pointer;
                                @media (max-width: 575.98px) {
                                    width: 100%;
                                }
                                @media (min-width: 576px) and (max-width: 991.98px) {
                                    width: 18rem;
                                }
                            }
                            &:before{
                                content: '';
                                background: url('../Image/play_button_white.svg');
                                @include bgCover;
                                position: absolute;
                                width: 5rem;
                                height: 5rem;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                                cursor: pointer;
                            }
                        }
                    }
                    &__right{
                        width: 58%;
                        @include flexBetween;
                        align-items: flex-start;
                        @media (max-width: 575.98px) {
                            width: 100%;
                        }
                        &__info{
                            width: 80%;
                            @media (max-width: 575.98px) {
                                width: 75%;
                            }
                            h4{
                                font-size: 2.125rem;
                                font-weight: 600;
                                padding-bottom: 1.25rem;
                                @media (max-width: 575.98px) {
                                    font-size: 1.125rem;
                                }
                                @media (min-width: 576px) and (max-width: 991.98px) {
                                    font-size: 1.5rem;
                                }
                            }
                            p{
                                font-size: 1.25rem;
                                @media (max-width: 575.98px) {
                                    font-size: 1rem;
                                }
                                @media (min-width: 576px) and (max-width: 991.98px) {
                                    font-size: 1rem;
                                }
                            }
                        }
                        span{
                            font-size: 1.65rem;
                            font-weight: 600;
                            @media (max-width: 575.98px) {
                                font-size: 1.125rem;
                            }
                            @media (min-width: 576px) and (max-width: 991.98px) {
                                font-size: 1.25rem;
                            }
                        }
                    }
                }
                .arrow{
                    position: absolute;
                    width: 3rem;
                    height: 3rem;
                    bottom: -1.5rem;
                    right: 0;
                    left: 0;
                    margin-left: auto;
                    margin-right: auto;
                    text-align: center;
                    cursor: pointer;
                    transform: rotate(270deg);
                }
            }
            &__similar{
                h2{
                    padding-top: 5rem;
                    color: $green;
                    font-size: 2.125rem;
                    font-weight: 600;
                    @media (max-width: 575.98px) {
                        font-size: 1.25rem;
                    }
                    @media (min-width: 576px) and (max-width: 991.98px) {
                        font-size: 1.75rem;
                        padding-bottom: 1rem;
                    }
                }
            }
        }
    }
}

.crew{
    position: relative;
    padding: 3rem 0;
    width: 100%;
    background-color: $darkblue;
    .crewWrapper{
        width: 78rem;
        margin: 0 auto;
        @media (max-width: 991.98px) {
            width: 100%;
        }
        @media (max-width: 575.98px) {
            padding: 1rem;
        }
        @media (min-width: 576px) and (max-width: 991.98px) {
            padding: 0 2rem;
        }
        &__single{
            @include flexBetween;
            align-items: flex-start;
            padding: 2rem 0;
            @media (max-width: 575.98px) {
                flex-direction: column;
            }
            &__left{
                width: 36%;
                display: flex;
                justify-content: space-between;
                @media (max-width: 575.98px) {
                    width: 100%;
                    padding-bottom: 2rem;
                }
                &__thumb{
                    position: relative;
                    img{
                        width: 24.5rem;
                        height: auto;
                        cursor: pointer;
                        @media (max-width: 575.98px) {
                            width: 100%;
                        }
                        @media (min-width: 576px) and (max-width: 991.98px) {
                            width: 90%;
                        }
                    }
                    &:before{
                        content: '';
                        background: url('../Image/play_button_white.svg');
                        @include bgCover;
                        position: absolute;
                        width: 5rem;
                        height: 5rem;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        cursor: pointer;
                    }
                }
            }
            &__right{
                width: 62%;
                @media (max-width: 575.98px) {
                    width: 100%;
                }
                &__info{
                    width: 100%;
                    display: flex;
                    margin-bottom: 2rem;
                    @media (max-width: 575.98px) {
                        width: 100%;
                    }
                    h4{
                        font-size: 1.125rem;
                        font-weight: 500;
                        color: #BCBCBC;
                        margin-right: 1.5rem;
                        line-height: 1.5rem;
                        @media (max-width: 575.98px) {
                            font-size: 1rem;
                        }
                        @media (min-width: 576px) and (max-width: 991.98px) {
                            font-size: 0.85rem;
                        }
                    }
                    p{
                        font-size: 1rem;
                        line-height: 1.5rem;
                        @media (max-width: 575.98px) {
                            font-size: 1rem;
                        }
                        @media (min-width: 576px) and (max-width: 991.98px) {
                            font-size: 0.85rem;
                        }
                    }
                }
                span{
                    font-size: 1.65rem;
                    font-weight: 600;
                    @media (max-width: 575.98px) {
                        font-size: 1.125rem;
                    }
                    @media (min-width: 576px) and (max-width: 991.98px) {
                        font-size: 1.25rem;
                    }
                }
            }
        }
    }
}

.moview{
    padding: 1rem 0;
    .crewWrapper__single__right__info, .crewWrapper__single__left__thumb{
        flex-direction: column;
        h3, h4{
            margin-bottom: 2rem;
        }
        h4{
            font-size: 1.5rem;
            color: $white;
        }
    }
    .allEpisodes__body{
        @media (max-width: 575.98px) {
            padding: 0 1rem;
        }
        @media (min-width: 576px) and (max-width: 991.98px) {
            padding: 1rem 2rem;
        }
        h2{
            margin: 2rem 0 1rem 0;
        }
    }
    .allEpisodes__body__contents__similar{
        h2{
            padding-top: 0;
            margin-top: 0;
        }
    }
}

.moviewRight{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (max-width: 575.98px) {
        min-height: 15rem;
    }
    @media (min-width: 576px) {
        min-height: 29rem;
    }
    h2{
        display: block;
    }
}


.radioHero{
    .heroBg{
        @media (max-width: 575.98px) {
            margin-top: 2rem;
        }
        @media (min-width: 576px) {
            min-height: 46rem;
        }
        &__contents{
            @media (max-width: 991.98px) {
                padding-right: 0 !important;
            }
            &:before {
                background: rgba(0, 0, 0, 0) linear-gradient(180deg, rgba(9, 0, 46, 0) 30%, #07002E 95%) 0% 0% no-repeat padding-box;
                @media (max-width: 575.98px) {
                    background: rgba(0, 0, 0, 0) linear-gradient(180deg, rgba(9, 0, 46, 0) 70%, #07002E 100%) 0% 0% no-repeat padding-box;
                } 
            }
            &__text{
                width: 78rem;
                margin: 0 auto;
                padding-top: 15rem;
                position: relative;
                @media (max-width: 991.98px) {
                    width: 100%;
                }
                img{
                    width: 18.875rem;
                    height: auto;
                    position: absolute;
                    top: 0;
                    right: 0;
                    @media (max-width: 575.98px) {
                        width: 9rem;
                        top: 5rem;
                        right: 2rem;
                    }
                    @media (min-width: 576px) and (max-width: 991.98px) {
                        width: 12rem;
                    }
                }
                h1{
                    padding-bottom: 0.5rem;
                }
                h2{
                    font-size: 2.0625rem;
                    font-weight: 700;
                    span{
                        font-weight: 500;
                    }
                }
            }
        }
    }
}

.podcastHero{
    .heroBg{
        @media (max-width: 575.98px) {
            margin-top: 2rem;
        }
        @media (min-width: 576px) {
            min-height: 32.5rem;
        }
        &__contents{
            padding: 0 6rem 0 0 !important;
            @media (max-width: 991.98px){
                padding: 0 0 0 0 !important;
            }
            &__text{
                text-align: center;
                padding-top: 0;
                img{
                    @media (max-width: 991.98px) {
                        position: relative;
                        top: unset;
                        right: unset;
                    }
                }
                h1 {
                    font-size: 3.75rem;
                    padding-top: 2rem;
                    @media (max-width: 991.98px) {
                        padding-top: 0;
                    }
                }
            }
        }
    }
}