.heroBg{
    position: relative;
    background-color: $blue;
    @include bgCover;
    @include flexCenter;
    min-height: 64rem;
    @media (max-width: 575.98px) {
        min-height: 22rem;
        align-items: flex-end;
        margin-top: 4rem;
    }
    &__contents{
        padding: 6rem 6rem 0 0 !important;
        @media (max-width: 575.98px) {
            padding: 0 3rem !important;
        }
        @media (min-width: 576px) and (max-width: 991.98px) {
            width: 90% !important;
        }
        img{
            position: relative;
            width: 17rem;
            height: auto;
        }
        h1{
            font-size: 2.4375rem;
            font-weight: 700;
            position: relative;
            padding: 1rem 0 1.25rem 0;
            @media (max-width: 575.98px) {
                font-size: 1.5rem;
            } 
        }
        h2{
            font-size: 2.0625rem;
            font-weight: 600;
            position: relative;
            padding-bottom: 2rem;
            @media (max-width: 575.98px) {
                font-size: 1.25rem;
                padding-bottom: 1rem;
            }
            span{
                font-weight: 700;
            }
        }
        h6{
            display: flex;
            justify-content: flex-start;
            position: relative;
            font-family: $ff2;
            font-size: 1.0625rem;
            font-weight: 700;
            margin-left: 8.5rem;
            margin-top: 0.5rem;
            img{
                width: 1.875rem;
                height: 1.375rem;
            }
            span{
                margin-top: 0.5rem;
                margin-left: 0.25rem;
            }
        }
        ul{
            position: relative;
            display: flex;
            li{
                margin: 0 0.5rem;
                button{
                    font-size: 1.25rem;
                    font-weight: 600;
                    border-radius: 1.5rem;
                    padding: 0.25rem 1.75rem 0.25rem 1.75rem;
                    background: $green;
                    color: $blue;
                    transition: all 0.1s ease-in;
                    border: 0;
                    border: 0.125rem solid $green;
                    @media (max-width: 575.98px) {
                        font-size: 1rem;
                    }
                    &:hover{
                        border: 0.125rem solid $green !important;
                        transform: scale(1.05);
                        color: $white;
                        background: $darkblue;
                        a{
                            color: $white;
                        }
                    }
                    a{
                        color: $blue;
                    }
                }
            }
        }
        &:before {
            content: '';
            width: 100%;
            height: 100%;
            background: rgba(255,255,255, 0);
            background: transparent linear-gradient(180deg, rgba(9, 0, 46, 0) 0%, #07002E 80%) 0% 0% no-repeat padding-box;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
            opacity: 1;
            @media (max-width: 575.98px) {
                background: transparent linear-gradient(180deg, rgba(9, 0, 46, 0) 30%, #07002E 100%) 0% 0% no-repeat padding-box;
            }
        }
    }
}

.heroFixed{
    position: fixed;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    right: 0;
}

.onDemandHero{
    align-items: flex-start;
    .heroBg{
        justify-content: flex-start;
        @media (min-width: 1300px) {
            min-height: 56rem;
        }
        &__contents{
            @media (max-width: 575.98px) {
                padding: 0 !important;
            } 
            &:before {
                background: transparent linear-gradient(180deg, rgba(9, 0, 46, 0) 30%, #07002E 95%) 0% 0% no-repeat padding-box;
                @media (max-width: 575.98px) {
                    background: transparent linear-gradient(180deg, rgba(9, 0, 46, 0) 70%, #07002E 100%) 0% 0% no-repeat padding-box;
                } 
            }
            &__text{
                width: 38rem;
                margin: 0 3rem;
                @media (max-width: 575.98px) {
                    width: 90%;
                    margin: 0 auto;    
                    position: relative;
                    top: 12rem;
                } 
                h1{
                    font-size: 2.4375rem;
                    font-weight: 700;
                    color: $green;
                    @media (max-width: 575.98px) {
                        font-size: 1.5rem;
                    } 
                }
                h2{
                    font-size: 1.4375rem;
                    font-weight: 500;
                    @media (max-width: 575.98px) {
                        font-size: 1.125rem;
                    } 
                }
                h4{
                    font-size: 1.5rem;
                    font-weight: 500;  
                    color: $white;
                    position: relative;
                    margin-bottom: 2rem;
                    span{
                        padding: 0.35rem 1rem;
                        border: 1px solid $white;
                        margin: 0 1rem;
                    }
                }
                ul{
                    li{
                        img{
                            width: 2.75rem;
                            height: auto;
                            cursor: pointer;
                            @media (max-width: 575.98px) {
                                width: 2rem;
                            } 
                        }
                        .love{
                            width: 2.95rem;
                            @media (max-width: 575.98px) {
                                width: 2.25rem;
                            } 
                        }
                        button{
                            span{
                                @include flexCenter;
                                img{
                                    width: 1rem;
                                    height: auto;
                                    margin-right: .5rem;
                                }
                            }
                            &:hover{
                                color: $darkblue;
                                background-color: $white !important;
                            }
                        }
                        .secondary{
                            background-color: $blue;
                        }
                    }
                }
            }
        }
    }
    .onDemand_slider{
        min-height: 40rem;
        .swiper-slide-active{
            z-index: 9999;
        }
        .swiper-button-next, .swiper-button-prev{
            padding: 0.75rem 1.35rem;
            border-radius:50%;
            @media (min-width: 992px) and (max-width: 1299.98px) {
                padding: 0 1.5rem;
            }
            @media (min-width: 1300px) and (max-width: 1531.98px){
                padding: 1.25rem 1.5rem;
            }
            @media (min-width: 2500px) {
                padding: 1.25rem;
            }
            &::after {
                font-size: 1.25rem;
                font-weight: 900;
                @media (min-width: 992px) and (max-width: 1299.98px) {
                    padding: 1rem 1.5rem;
                }
            }
        }
        .swiper-button-prev{
            left: 2rem;
            transition: all 0.5s;
            opacity: 1;
            z-index: 999;
            &:after {
                content: "";
                position: absolute;
                width: 3.5rem;
                height: 3.5rem;
                background-image: url("../Image/arrow_left_green.svg");
                @include bgCover;
            }
        }
        .swiper-button-next{
            right: 2rem;
            transition: all 0.5s;
            opacity: 1;
            z-index: 999;
            &:after {
                content: "";
                position: absolute;
                width: 3.5rem;
                height: 3.5rem;
                background-image: url("../Image/arrow_left_green.svg");
                @include bgCover;
                transform: rotate(180deg);
            }
        }
        .swiper-button-disabled{
            opacity: 0;
        }
        .swiper-slide-next, .swiper-slide-prev{
            position: relative;
        }
        .swiper-pagination{
            .swiper-pagination-bullet{
                background: $white;
            }
            .swiper-pagination-bullet-active {
                background: $white;
            }
        }
    }
    .swiper-wrapper{
        .swiper-slide{
            &:not(:first-child){
                .heroBg{
                    @media (min-width: 576px) {
                        padding-left: 3rem;
                    }
                }
            }
        }
    }
}