.heroBg{
    background-color: $blue;
    // background-image: url(../Image/hero-back.png);
    @include bgCover;
    min-height: 36rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    position: relative;
    @media (max-width: 575.98px) {
        min-height: 18rem;
    }
    &__contents{
        width: 100%;
        h1{
            font-size: 2.4375rem;
            font-weight: 700;
            position: relative;
            padding-bottom: 1.25rem;
            @media (max-width: 575.98px) {
                font-size: 1.75rem;
            }      
        }
        h2{
            font-size: 2.0625rem;
            font-weight: 600;
            font-style: italic;
            position: relative;
            padding-bottom: 3rem;
            @media (max-width: 575.98px) {
                font-size: 1.5rem;
                padding-bottom: 1rem;
            }
        }
        ul{
            position: relative;
            display: flex;
            li{
                margin: 0 0.5rem;
                button{
                    font-size: 1.25rem;
                    font-weight: 600;
                    border-radius: 1.5rem;
                    padding: 0.5rem 1.75rem;
                    background: rgba(255, 255, 255, 0) linear-gradient(270deg, $green 0%, $green 100%) 0% 0% no-repeat padding-box;
                    color: $blue;
                    transition: all 0.3s ease-in;
                    border: 0;
                    &:hover{
                        transform: scale(1.05);
                    }
                }
                &:first-child{
                    margin-left: 0;
                }
                &:last-child{
                    button{
                        background: rgba(255, 255, 255, 0) linear-gradient(270deg, #0E005C73 0%, #0E005C73 100%) 0% 0% no-repeat padding-box;
                        color: $white;
                        border: 0.125rem solid $green;
                        &:hover{
                            color: $blue;
                            background: rgba(255, 255, 255, 0) linear-gradient(270deg, $green 0%, $green 100%) 0% 0% no-repeat padding-box;
                        }
                    }
                }
            }
        }
        &:before {
            content: '';
            width: 100%;
            height: 100%;
            background: rgba(255,255,255, 0);
            background: transparent linear-gradient(180deg, rgba(9, 0, 46, 0) 0%, #07002E 100%) 0% 0% no-repeat padding-box;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
            opacity: 1;
        }
    }
    &__audio{
        position: absolute;
        bottom: 0;
        right: 0;
        @media screen and (max-width: 575.98px) {
            display: none;
        }
        &__controls{
            @include flexBetween;
            img{
                width: 3rem;
                height: 3rem;
                margin-right: 1.25rem;
                cursor: pointer;
            }
            span{
                border-left: 4px solid $green;
                background-color: $blue;
                padding: 0.65rem 1rem;
                p{
                    color: $green;
                    font-size: 1.125rem;
                    font-weight: 700;
                }
            }
        }
    }
}

.heroSm{
    display: none;
    @media screen and (max-width: 575.98px) {
        padding-top: 1rem;
        position: relative;
        @include flexBetween;
        li{
            margin: 0 0.5rem;
            button{
                font-size: 1.25rem;
                font-weight: 600;
                border-radius: 1.5rem;
                padding: 0.5rem 2rem;
                background: rgba(255, 255, 255, 0) linear-gradient(270deg, $green 0%, $green 100%) 0% 0% no-repeat padding-box;
                color: $blue;
                transition: all 0.3s ease-in;
                border: 0;
                &:hover{
                    transform: scale(1.05);
                }
            }
            &:first-child{
                margin-left: 0;
                button{
                    padding: 0.5rem 3rem;
                    border: 0.125rem solid $green;
                }
            }
            &:last-child{
                button{
                    background: rgba(255, 255, 255, 0) linear-gradient(270deg, #0E005C73 0%, #0E005C73 100%) 0% 0% no-repeat padding-box;
                    color: $white;
                    border: 0.125rem solid $green;
                    &:hover{
                        color: $blue;
                        background: rgba(255, 255, 255, 0) linear-gradient(270deg, $green 0%, $green 100%) 0% 0% no-repeat padding-box;
                    }
                }
            }
        }
    }
}