.radio{
    .shows__title{
        margin-left: 8.5rem;
        @media (max-width: 575.98px) {
            margin-left: 3rem;
        }
        @media (min-width: 576px) and (max-width: 991.98px) {
           margin-left: 7rem;
        }
        @media (min-width: 2500px) {
            margin-left: 6.5rem;
        }
    }
    &__wrapper{
        padding: 1rem 3rem;
        padding-bottom: 4rem;
        @media (max-width: 575.98px) {
            padding: 1rem 2rem;
        }
        &__card{
            @include flexCenter;
            flex-wrap: wrap;
            grid-gap: 2rem;
            position: relative;
            overflow: hidden;
            &__single{
                width: 15.625rem;
                height: auto;
                position: relative;
                border-radius: 1.125rem;
                @media (max-width: 575.98px) {
                    width: 46%;
                }
                @include flexCenter;
                a{
                    display: block;
                    width: 100%;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                    &:before {
                        content: '';
                        width: 100%;
                        height: 100%;
                        background: rgba(255,255,255, 0);
                        background: transparent linear-gradient(180deg, rgba(9, 0, 46, 0) 30%, #0e005c 100%) 0% 0% no-repeat padding-box;
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: 0;
                        opacity: 1;
                        overflow: hidden;
                        border-radius: 1.125rem;
                    }
                }
                h6{
                    position: absolute;
                    transition: transform .5s ease;
                    text-align: center;
                    width: 50%;
                    font-size: 1.5rem;
                    font-weight: 600;
                    bottom: 2rem;
                }
                &:hover{
                    opacity: 1;
                    .game-btn {
                        opacity: 1;
                    }
                }
            }
            .adbanner{
                width: 32.25rem;
                height: 22.75rem;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 1.125rem;
                    @media (max-width: 575.98px) {
                        height: auto;
                    }
                }
            }
        }
    }
}

.podcast{
    padding-top: 0rem;
}