.tvEnVivo{  
    &__player{  
        margin-top: 6rem; 
        &__setup{
            margin-top: 6rem; 
            padding: 2rem; 
            img{
                width: 100%;
                height: 40rem;
            }
        }
    }  
    &__epg{
        width: 100%;
        height: 46rem;
        position: relative;
        padding: 2rem 4rem;
    }
}