.tvEnVivo{  
    &__player{  
        .jw__player {
            width: 118rem;
            margin: 0 auto;
            overflow-x: hidden;
            padding-right: 0 !important;
            padding-top: 5rem !important;
            width: 118rem;
            margin: 0 auto;
            overflow-x: hidden;
            @media (max-width: 575.98px) {
                padding-top: 0 !important;
                width: 28rem;
                top: 0;
            }
            @media (min-width: 576px) and (max-width: 991.98px) {
                width: 55rem;
                padding-top: 0 !important;
            }
            @media (min-width: 992px) and (max-width: 1199.98px) {
                width: 78rem;
            }
            @media (min-width: 1200px) and (max-width: 1339.98px) {
                width: 100rem;
            }
            @media (min-width: 1340px) and (max-width: 1598.98px){
                width: 118rem;
            }
            @media (min-width: 1600px) and (max-width: 1798.98px){
                width: 100rem;
            }
            @media (min-width: 2500px) {
                width: 112rem;
            }
            .jwplayer{
                @media (max-width: 575.98px) {
                    height: 20rem !important;
                }
            }
        }
        .heroBg{
            min-height: 42rem !important;
            justify-content: center;
            background-color: #000000;
            @media (max-width: 575.98px) {
                min-height: 10rem !important;
            }
            @media (min-width: 576px) and (max-width: 991.98px) {
                min-height: 32rem !important;
            }
        }
    }  
    &__epg{
        width: 100%;
        height: 40rem;
        position: relative;
        padding: 2rem 4rem;
        background-color: #000000;
        @media (max-width: 575.98px) {
            padding: 2rem 0.5rem;
        }
    }
}

.videoModal{
    .modal-dialog {
        max-width: 70rem;
        @media (max-width: 991.98px) {
            max-width: 90%;
            margin: 0 auto;
        }
        .modal-content {
            background-color: $blue;
            .modal-body{
                padding: 0;
            }
        }
    }
}

.isLive{
    border: 1px solid $green;
    padding: 0 !important;
    .e1f8qikj5{
        border-radius: 0 !important;
    }
}

.isNotLive{
    .e1f8qikj5{
        border-radius: 0.25rem !important;
    }
}

.isChannelLive{
    background-color: #67fe6595 !important;
    border: 1px solid $green;
}

.isChanneNotlLive{
    background-color: #3E337D40 !important;
}

.ebfc5082{
    height: 0.75rem;
    &:nth-child(2n){
        height: 0.35rem;
    }
}