// @import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
// @import url('http://db.onlinewebfonts.com/c/0252223e8c36008b595f5e379ad5e524?family=Bradley+Hand+ITC');

$white: #ffffff;
$green: #67fe65;
$blue: #0e005c;
$darkblue: #07002E;
$black: #121212;

$ff1: 'Epilogue', sans-serif;
$ff2: 'Bradley Hand ITC', cursive;

@mixin flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flexBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin bgCover {
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
}
  