$white: #ffffff;
$green: #67fe65;
$blue: #0e005c;
$darkblue: #07002E;
$black: #121212;

$ff1: 'Epilogue', sans-serif;
$ff2: 'Bradley Hand ITC', cursive;

@mixin flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flexBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin bgCover {
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
}
  