@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --white: #ffffff;
  --green: #67fe65;
  --blue: #0e005c;
  --darkblue: #07002E;
  --black: #121212;
}

.loader {
  background-color: var(--darkblue);
  padding: 1.75rem 0;
  opacity: 0.75;
}

.pulse {
  border-bottom: 1px solid var(--green);
  -webkit-animation: borderPulse 1000ms infinite ease-out;
          animation: borderPulse 1000ms infinite ease-out;
}

@-webkit-keyframes borderPulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  30% {
    -webkit-box-shadow: inset 0px 0px 0px 1px rgba(103, 254, 101, 0.4), 0px 0px 0px 0px #67fe65;
            box-shadow: inset 0px 0px 0px 1px rgba(103, 254, 101, 0.4), 0px 0px 0px 0px #67fe65;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-box-shadow: inset 0px 0px 0px 1px rgba(103, 254, 101, 0.2), 0px 0px 0px 5px rgba(103, 254, 101, 0);
            box-shadow: inset 0px 0px 0px 1px rgba(103, 254, 101, 0.2), 0px 0px 0px 5px rgba(103, 254, 101, 0);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes borderPulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  30% {
    -webkit-box-shadow: inset 0px 0px 0px 1px rgba(103, 254, 101, 0.4), 0px 0px 0px 0px #67fe65;
            box-shadow: inset 0px 0px 0px 1px rgba(103, 254, 101, 0.4), 0px 0px 0px 0px #67fe65;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-box-shadow: inset 0px 0px 0px 1px rgba(103, 254, 101, 0.2), 0px 0px 0px 5px rgba(103, 254, 101, 0);
            box-shadow: inset 0px 0px 0px 1px rgba(103, 254, 101, 0.2), 0px 0px 0px 5px rgba(103, 254, 101, 0);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.heroBg {
  background-color: var(--blue);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 36rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
}

@media (max-width: 575.98px) {
  .heroBg {
    min-height: 18rem;
  }
}

.heroBg__contents {
  width: 100%;
}

.heroBg__contents h1 {
  font-size: 2.4375rem;
  font-weight: 700;
  position: relative;
  padding-bottom: 1.25rem;
}

@media (max-width: 575.98px) {
  .heroBg__contents h1 {
    font-size: 1.75rem;
  }
}

.heroBg__contents h2 {
  font-size: 2.0625rem;
  font-weight: 600;
  font-style: italic;
  position: relative;
  padding-bottom: 3rem;
}

@media (max-width: 575.98px) {
  .heroBg__contents h2 {
    font-size: 1.5rem;
    padding-bottom: 1rem;
  }
}

.heroBg__contents ul {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.heroBg__contents ul li {
  margin: 0 0.5rem;
}

.heroBg__contents ul li button {
  font-size: 1.25rem;
  font-weight: 600;
  border-radius: 1.5rem;
  padding: 0.5rem 1.75rem;
  background: rgba(255, 255, 255, 0) -webkit-gradient(linear, right top, left top, from(var(--green)), to(var(--green))) 0% 0% no-repeat padding-box;
  background: rgba(255, 255, 255, 0) linear-gradient(270deg, var(--green) 0%, var(--green) 100%) 0% 0% no-repeat padding-box;
  color: var(--blue);
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  border: 0;
}

.heroBg__contents ul li button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.heroBg__contents ul li:first-child {
  margin-left: 0;
}

.heroBg__contents ul li:last-child button {
  background: rgba(255, 255, 255, 0) -webkit-gradient(linear, right top, left top, from(#0E005C73), to(#0E005C73)) 0% 0% no-repeat padding-box;
  background: rgba(255, 255, 255, 0) linear-gradient(270deg, #0E005C73 0%, #0E005C73 100%) 0% 0% no-repeat padding-box;
  color: var(--white);
  border: 0.125rem solid var(--green);
}

.heroBg__contents ul li:last-child button:hover {
  color: var(--blue);
  background: rgba(255, 255, 255, 0) -webkit-gradient(linear, right top, left top, from(var(--green)), to(var(--green))) 0% 0% no-repeat padding-box;
  background: rgba(255, 255, 255, 0) linear-gradient(270deg, var(--green) 0%, var(--green) 100%) 0% 0% no-repeat padding-box;
}

.heroBg__contents:before {
  content: '';
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0);
  background: transparent -webkit-gradient(linear, left top, left bottom, from(rgba(9, 0, 46, 0)), to(#07002E)) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(180deg, rgba(9, 0, 46, 0) 0%, #07002E 100%) 0% 0% no-repeat padding-box;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  opacity: 1;
}

.heroBg__audio {
  position: absolute;
  bottom: 0;
  right: 0;
}

@media screen and (max-width: 575.98px) {
  .heroBg__audio {
    display: none;
  }
}

.heroBg__audio__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.heroBg__audio__controls img {
  width: 3rem;
  height: 3rem;
  margin-right: 1.25rem;
  cursor: pointer;
}

.heroBg__audio__controls span {
  border-left: 4px solid var(--green);
  background-color: var(--blue);
  padding: 0.65rem 1rem;
}

.heroBg__audio__controls span p {
  color: var(--green);
  font-size: 1.125rem;
  font-weight: 700;
}

.heroSm {
  display: none;
}

@media screen and (max-width: 575.98px) {
  .heroSm {
    padding-top: 1rem;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .heroSm li {
    margin: 0 0.5rem;
  }
  .heroSm li button {
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 1.5rem;
    padding: 0.5rem 2rem;
    background: rgba(255, 255, 255, 0) -webkit-gradient(linear, right top, left top, from(var(--green)), to(var(--green))) 0% 0% no-repeat padding-box;
    background: rgba(255, 255, 255, 0) linear-gradient(270deg, var(--green) 0%, var(--green) 100%) 0% 0% no-repeat padding-box;
    color: var(--blue);
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    border: 0;
  }
  .heroSm li button:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  .heroSm li:first-child {
    margin-left: 0;
  }
  .heroSm li:first-child button {
    padding: 0.5rem 3rem;
    border: 0.125rem solid var(--green);
  }
  .heroSm li:last-child button {
    background: rgba(255, 255, 255, 0) -webkit-gradient(linear, right top, left top, from(#0E005C73), to(#0E005C73)) 0% 0% no-repeat padding-box;
    background: rgba(255, 255, 255, 0) linear-gradient(270deg, #0E005C73 0%, #0E005C73 100%) 0% 0% no-repeat padding-box;
    color: var(--white);
    border: 0.125rem solid var(--green);
  }
  .heroSm li:last-child button:hover {
    color: var(--blue);
    background: rgba(255, 255, 255, 0) -webkit-gradient(linear, right top, left top, from(var(--green)), to(var(--green))) 0% 0% no-repeat padding-box;
    background: rgba(255, 255, 255, 0) linear-gradient(270deg, var(--green) 0%, var(--green) 100%) 0% 0% no-repeat padding-box;
  }
}

.recent, .onDemand, .recommended {
  padding: 5rem 0 3rem 0;
}

.recent__title, .onDemand__title, .recommended__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.recent__title h2, .recent__title a, .onDemand__title h2, .onDemand__title a, .recommended__title h2, .recommended__title a {
  font-size: 1.75rem;
  font-weight: 700;
  color: var(--green);
}

.recent__title a, .onDemand__title a, .recommended__title a {
  font-weight: 500;
}

@media (max-width: 575.98px) {
  .recent__title a, .onDemand__title a, .recommended__title a {
    display: none;
  }
}

.recent__slider, .onDemand__slider, .recommended__slider {
  width: 100%;
  height: 100%;
}

@media (max-width: 991.98px) {
  .recent__slider, .onDemand__slider, .recommended__slider {
    padding-bottom: 5rem;
  }
}

.recent__slider .swiper-slide, .onDemand__slider .swiper-slide, .recommended__slider .swiper-slide {
  margin: 2.25rem 0;
  width: 15%;
  border-radius: 1.125rem;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

@media (max-width: 575.98px) {
  .recent__slider .swiper-slide, .onDemand__slider .swiper-slide, .recommended__slider .swiper-slide {
    width: 25%;
  }
}

.recent__slider .swiper-slide img, .onDemand__slider .swiper-slide img, .recommended__slider .swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.recent__slider .swiper-slide p, .onDemand__slider .swiper-slide p, .recommended__slider .swiper-slide p {
  text-align: center;
  font-size: 1.125rem;
}

.recent__slider .swiper-slide:hover, .onDemand__slider .swiper-slide:hover, .recommended__slider .swiper-slide:hover {
  border: 0.25rem solid var(--white);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.recent__slider .swiper-button-next, .recent__slider .swiper-button-prev, .onDemand__slider .swiper-button-next, .onDemand__slider .swiper-button-prev, .recommended__slider .swiper-button-next, .recommended__slider .swiper-button-prev {
  color: var(--darkblue);
  background: var(--green);
  padding: 0.75rem 1.35rem;
  border-radius: 50%;
}

@media (min-width: 992px) and (max-width: 1299.98px) {
  .recent__slider .swiper-button-next, .recent__slider .swiper-button-prev, .onDemand__slider .swiper-button-next, .onDemand__slider .swiper-button-prev, .recommended__slider .swiper-button-next, .recommended__slider .swiper-button-prev {
    padding: 0 1.5rem;
  }
}

@media (min-width: 1300px) and (max-width: 1531.98px) {
  .recent__slider .swiper-button-next, .recent__slider .swiper-button-prev, .onDemand__slider .swiper-button-next, .onDemand__slider .swiper-button-prev, .recommended__slider .swiper-button-next, .recommended__slider .swiper-button-prev {
    padding: 1.25rem 1.5rem;
  }
}

@media (min-width: 2500px) {
  .recent__slider .swiper-button-next, .recent__slider .swiper-button-prev, .onDemand__slider .swiper-button-next, .onDemand__slider .swiper-button-prev, .recommended__slider .swiper-button-next, .recommended__slider .swiper-button-prev {
    padding: 1.25rem;
  }
}

.recent__slider .swiper-button-next::after, .recent__slider .swiper-button-prev::after, .onDemand__slider .swiper-button-next::after, .onDemand__slider .swiper-button-prev::after, .recommended__slider .swiper-button-next::after, .recommended__slider .swiper-button-prev::after {
  font-size: 1.25rem;
  font-weight: 900;
}

@media (min-width: 992px) and (max-width: 1299.98px) {
  .recent__slider .swiper-button-next::after, .recent__slider .swiper-button-prev::after, .onDemand__slider .swiper-button-next::after, .onDemand__slider .swiper-button-prev::after, .recommended__slider .swiper-button-next::after, .recommended__slider .swiper-button-prev::after {
    padding: 1rem 1.5rem;
  }
}

@media (max-width: 575.98px) {
  .recent__slider .swiper-button-next, .recent__slider .swiper-button-prev, .onDemand__slider .swiper-button-next, .onDemand__slider .swiper-button-prev, .recommended__slider .swiper-button-next, .recommended__slider .swiper-button-prev {
    display: none;
  }
}

.recent__slider .swiper-button-prev, .onDemand__slider .swiper-button-prev, .recommended__slider .swiper-button-prev {
  left: 4.875rem;
}

.recent__slider .swiper-button-next, .onDemand__slider .swiper-button-next, .recommended__slider .swiper-button-next {
  right: 4.875rem;
}

.recent__slider .swiper-slide-next, .recent__slider .swiper-slide-prev, .onDemand__slider .swiper-slide-next, .onDemand__slider .swiper-slide-prev, .recommended__slider .swiper-slide-next, .recommended__slider .swiper-slide-prev {
  position: relative;
}

@media (min-width: 992px) {
  .recent__slider .swiper-pagination, .onDemand__slider .swiper-pagination, .recommended__slider .swiper-pagination {
    display: none;
  }
}

.recent__slider .swiper-pagination .swiper-pagination-bullet, .onDemand__slider .swiper-pagination .swiper-pagination-bullet, .recommended__slider .swiper-pagination .swiper-pagination-bullet {
  background: var(--white);
}

.recent__slider .swiper-pagination .swiper-pagination-bullet-active, .onDemand__slider .swiper-pagination .swiper-pagination-bullet-active, .recommended__slider .swiper-pagination .swiper-pagination-bullet-active {
  background: var(--white);
}

.onDemand, .recommended {
  padding-top: 0;
}

.notFound {
  background-color: var(--darkblue);
  color: var(--white);
  height: 100vh;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.notFound h2 {
  display: inline-block;
  border-right: 1px solid var(--white);
  margin: 0;
  margin-right: 1.25rem;
  padding: 1.25rem 1.4375rem 1.25rem 0;
  font-size: 1.5rem;
  vertical-align: top;
  font-weight: 900;
}

.notFound .bar {
  display: inline-block;
  text-align: left;
  line-height: 3rem;
  height: 3rem;
  vertical-align: middle;
}

.notFound .bar h3 {
  font-weight: normal;
  line-height: inherit;
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

@media (max-width: 575.98px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 992px) and (max-width: 1299.98px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 1300px) and (max-width: 1531.98px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 1532px) and (max-width: 1600px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 2500px) {
  html {
    font-size: 22px;
  }
}

@media (max-width: 320px) {
  html {
    font-size: 9px;
  }
}

@media (min-width: 321px) and (max-width: 376px) {
  html {
    font-size: 10px;
  }
}

body {
  font-family: "Epilogue", sans-serif;
  background-color: var(--darkblue);
  color: var(--white);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

::-webkit-scrollbar {
  width: 0.1875rem;
}

::-webkit-scrollbar-track {
  border-radius: 0.625rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.625rem;
  background: var(--green);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: var(--green);
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

h2 {
  font-size: 1.5rem;
  font-weight: 500;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  margin: 0;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a, select, input, textarea, button {
  outline: none !important;
}

.btn:focus, .btn.focus, .form-control:focus {
  outline: 0 !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.btn-link:focus, .btn-link.focus {
  text-decoration: none;
}

.wrapper {
  margin: 0 auto;
}

@media (max-width: 575.98px) {
  .wrapper {
    width: 90%;
    margin: 0 auto;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .wrapper {
    width: 80%;
    margin: 0 auto;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .wrapper {
    max-width: 720px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .wrapper {
    max-width: 960px;
  }
}

@media (min-width: 1200px) and (max-width: 1299.98px) {
  .wrapper {
    max-width: 980px;
  }
}

@media (min-width: 1300px) {
  .wrapper {
    max-width: 110rem;
  }
}
/*# sourceMappingURL=style.css.map */