@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --white: #ffffff;
  --green: #67fe65;
  --blue: #0e005c;
  --darkblue: #07002E;
  --black: #121212;
}

.loader {
  background-color: var(--darkblue);
  padding: 1.75rem 0;
  opacity: 0.75;
}

.pulse {
  border-bottom: 1px solid var(--green);
  -webkit-animation: borderPulse 1000ms infinite ease-out;
          animation: borderPulse 1000ms infinite ease-out;
}

@-webkit-keyframes borderPulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  30% {
    -webkit-box-shadow: inset 0px 0px 0px 1px rgba(103, 254, 101, 0.4), 0px 0px 0px 0px #67fe65;
            box-shadow: inset 0px 0px 0px 1px rgba(103, 254, 101, 0.4), 0px 0px 0px 0px #67fe65;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-box-shadow: inset 0px 0px 0px 1px rgba(103, 254, 101, 0.2), 0px 0px 0px 5px rgba(103, 254, 101, 0);
            box-shadow: inset 0px 0px 0px 1px rgba(103, 254, 101, 0.2), 0px 0px 0px 5px rgba(103, 254, 101, 0);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes borderPulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  30% {
    -webkit-box-shadow: inset 0px 0px 0px 1px rgba(103, 254, 101, 0.4), 0px 0px 0px 0px #67fe65;
            box-shadow: inset 0px 0px 0px 1px rgba(103, 254, 101, 0.4), 0px 0px 0px 0px #67fe65;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-box-shadow: inset 0px 0px 0px 1px rgba(103, 254, 101, 0.2), 0px 0px 0px 5px rgba(103, 254, 101, 0);
            box-shadow: inset 0px 0px 0px 1px rgba(103, 254, 101, 0.2), 0px 0px 0px 5px rgba(103, 254, 101, 0);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.header {
  background: var(--darkblue);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.header nav {
  padding: 0 2rem 0 2rem;
}

@media (max-width: 991.98px) {
  .header nav {
    padding: 0 1rem;
  }
}

.header nav .navbar-brand {
  background: var(--green);
  padding: 1.25rem 1.125rem;
  border-bottom-left-radius: 1.75rem;
  border-bottom-right-radius: 1.75rem;
}

.header nav .navbar-brand:hover {
  background: rgba(255, 255, 255, 0);
  background: linear-gradient(75deg, rgba(103, 254, 101, 0.75) 30%, #0e005c 100%);
}

.header nav .navbar-brand:hover svg {
  fill: var(--white);
}

.header nav .navbar-brand svg {
  -webkit-transition: all .2s;
  transition: all .2s;
  width: 10rem;
  height: auto;
  fill: var(--blue);
}

.header nav form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-left: 1rem;
}

.header nav form .search-box {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0);
  height: 2.65rem;
  border-radius: 0.25rem;
  padding: 1rem 0.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid rgba(255, 255, 255, 0);
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .header nav form .search-box {
    height: 2.25rem;
  }
}

.header nav form .search-box:hover {
  background: #060224;
  border: 1px solid var(--white);
}

.header nav form .search-box:hover input {
  width: 13rem;
  color: var(--white);
  opacity: 1;
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .header nav form .search-box:hover input {
    width: 6rem;
  }
}

.header nav form .search-box:hover a {
  width: 1.5rem;
  border-radius: 50%;
  cursor: pointer;
  text-decoration: none;
  opacity: 1;
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .header nav form .search-box:hover a {
    width: 1.25rem;
  }
}

.header nav form .search-box:hover a img {
  width: 1.5rem;
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .header nav form .search-box:hover a img {
    width: 1.25rem;
  }
}

.header nav form .search-box img {
  cursor: pointer;
  width: 1.75rem;
  height: auto;
  margin-right: 0.75rem;
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .header nav form .search-box img {
    width: 1.5rem;
    margin-right: 0.5rem;
  }
}

.header nav form .search-box input {
  opacity: 0;
}

.header nav form a {
  opacity: 0;
}

.header nav form input {
  border: none;
  background: none;
  outline: none;
  color: var(--white);
  font-size: 1rem;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  width: 0px;
}

.header nav form label {
  margin-left: 3.5rem;
  font-size: 1.25rem;
  font-weight: 600;
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .header nav form label {
    font-size: 1rem;
  }
}

.header nav .navbar-nav .navLink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--white) !important;
  border-radius: 5rem;
  padding: 0.25rem 1.25rem !important;
  border: 0.0625rem solid rgba(255, 255, 255, 0);
}

@media (max-width: 575.98px) {
  .header nav .navbar-nav .navLink {
    font-size: 1.5rem;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .header nav .navbar-nav .navLink {
    font-size: 1rem;
  }
}

.header nav .navbar-nav .navLink:hover {
  color: var(--green) !important;
  border: 0.0625rem solid var(--green);
}

.header nav .navbar-nav .navLink:hover .navIcon {
  fill: var(--green);
}

.header nav .navbar-nav .navIcon {
  width: 1.75rem;
  height: auto;
  margin-right: 0.75rem;
  fill: var(--white);
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .header nav .navbar-nav .navIcon {
    width: 1.5rem;
    margin-right: 0.5rem;
  }
}

.header nav .navbar-nav .gameNav {
  width: 2.25rem;
  height: auto;
}

.header nav .auth-dropdown button {
  color: var(--white);
  font-size: 1.25rem;
  font-weight: 500;
  -webkit-transition: all .5s;
  transition: all .5s;
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .header nav .auth-dropdown button {
    font-size: 1rem;
  }
}

.header nav .auth-dropdown button:after {
  display: none;
}

.header nav .auth-dropdown .dropdown-menu {
  position: absolute;
  background-color: #4A3D7E;
  padding: 0;
}

.header nav .auth-dropdown .dropdown-menu a {
  color: var(--white);
  padding: .65rem 1rem;
}

.header nav .auth-dropdown .dropdown-menu a:hover, .header nav .auth-dropdown .dropdown-menu a:focus {
  background-color: var(--blue);
  color: var(--green);
}

.header nav .auth-dropdown .dropdown-item {
  font-size: 1rem;
  width: 100%;
  clear: both;
  font-weight: 400;
}

.header nav .auth-dropdown .avatar {
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 2.75rem;
  height: 2.75rem;
  border-radius: .375rem;
  background-color: rgba(255, 255, 255, 0);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50% !important;
  border: 0.125rem solid var(--green);
}

.header nav .auth-dropdown .avatar img {
  border-radius: 50% !important;
  width: 2.5rem;
  height: 2.5rem;
  position: static;
}

.header nav .mobile-design {
  margin: 0 1.5rem;
}

.header nav .mobile-design img {
  position: absolute;
  right: 5rem;
  top: 1.25rem;
}

@media screen and (max-width: 991.98px) {
  .header nav .mobile-design img {
    width: 2rem;
    top: 1.5rem;
  }
}

.header nav .mobile-design .auth-dropdown {
  position: absolute;
  right: 0;
  top: 1.125rem;
}

.header nav .mobile-design .nav-toggle {
  cursor: pointer;
  position: absolute;
  right: 1.5rem;
  top: 2rem;
  width: 2rem;
  z-index: 9000;
}

.header nav .mobile-design .nav-toggle .top {
  display: block;
  width: 2rem;
  height: 0.15rem;
  background-color: var(--white);
  -webkit-transition: all .5s;
  transition: all .5s;
  margin-bottom: 0.35rem;
}

.header nav .mobile-design .nav-toggle .mid {
  display: block;
  width: 2rem;
  height: 0.15rem;
  background-color: var(--white);
  -webkit-transition: all .5s;
  transition: all .5s;
  margin-bottom: 0.35rem;
  position: relative;
}

.header nav .mobile-design .nav-toggle .bot {
  display: block;
  width: 2rem;
  height: 0.2rem;
  background-color: var(--white);
  -webkit-transition: all .5s;
  transition: all .5s;
}

.header nav .mobile-design .nav-toggle .top, .header nav .mobile-design .nav-toggle .bot {
  -webkit-transform-origin: 0.1875rem 0.125rem;
          transform-origin: 0.1875rem 0.125rem;
}

.header nav .mobile-design .menu {
  position: fixed;
  left: 0;
  bottom: 0;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
  height: 5rem;
  padding: 0 1rem;
  border-top-left-radius: 1.75rem;
  border-top-right-radius: 1.75rem;
  background: var(--blue);
  -webkit-box-shadow: 1px 0px 0.75rem 0px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 0px 0.75rem 0px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

@media only screen and (min-width: 992px) {
  .header nav .mobile-design .menu {
    display: none;
  }
}

.header nav .mobile-design .menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 991.98px) {
  .header nav .mobile-design .menu ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 4rem;
            column-gap: 4rem;
  }
}

.header nav .mobile-design .menu__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: none;
  outline: none;
  color: var(--green);
}

.header nav .mobile-design .menu__link .is__active {
  position: relative;
  color: var(--green);
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.header nav .mobile-design .menu span {
  display: none;
  visibility: visible;
  font-family: inherit;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25;
  text-transform: capitalize;
}

.header nav .mobile-design .menu .is__active span {
  display: block;
}

.header nav .mobile-design .menu .is__active .navIcon {
  fill: var(--green);
}

.header nav .mobile-design .menu .navIcon {
  width: 1.5rem;
  height: auto;
  margin-right: 0.75rem;
  fill: var(--white);
  margin-bottom: 0.25rem;
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .header nav .mobile-design .menu .navIcon {
    width: 1.5rem;
    margin-right: 0.5rem;
  }
}

.header nav .mobile-design .menu .gameNav {
  width: 1.85rem;
  height: auto;
}

.fixed-header .header-top {
  display: none;
}

.heroBg {
  background-color: var(--blue);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 36rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
  margin-top: 5.5rem;
}

@media (max-width: 575.98px) {
  .heroBg {
    min-height: 18rem;
  }
}

.heroBg__contents {
  width: 100%;
}

.heroBg__contents h1 {
  font-size: 2.4375rem;
  font-weight: 700;
  position: relative;
  padding-bottom: 1.25rem;
}

@media (max-width: 575.98px) {
  .heroBg__contents h1 {
    font-size: 1.75rem;
  }
}

.heroBg__contents h2 {
  font-size: 2.0625rem;
  font-weight: 600;
  font-style: italic;
  position: relative;
  padding-bottom: 3rem;
}

@media (max-width: 575.98px) {
  .heroBg__contents h2 {
    font-size: 1.5rem;
    padding-bottom: 1rem;
  }
}

.heroBg__contents ul {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.heroBg__contents ul li {
  margin: 0 0.5rem;
}

.heroBg__contents ul li button {
  font-size: 1.25rem;
  font-weight: 600;
  border-radius: 1.5rem;
  padding: 0.5rem 1.75rem 0.25rem 1.75rem;
  background: var(--green);
  color: var(--blue);
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  border: 0;
  border: 0.125rem solid var(--green);
}

.heroBg__contents ul li button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.heroBg__contents ul li:first-child {
  margin-left: 0;
}

.heroBg__contents ul li:last-child button {
  border: 0.125rem solid var(--green) !important;
  background: rgba(255, 255, 255, 0) -webkit-gradient(linear, right top, left top, from(#0E005C73), to(#0E005C73)) 0% 0% no-repeat padding-box;
  background: rgba(255, 255, 255, 0) linear-gradient(270deg, #0E005C73 0%, #0E005C73 100%) 0% 0% no-repeat padding-box;
  color: var(--white);
}

.heroBg__contents ul li:last-child button:hover {
  color: var(--blue);
  background: rgba(255, 255, 255, 0) -webkit-gradient(linear, right top, left top, from(var(--green)), to(var(--green))) 0% 0% no-repeat padding-box;
  background: rgba(255, 255, 255, 0) linear-gradient(270deg, var(--green) 0%, var(--green) 100%) 0% 0% no-repeat padding-box;
}

.heroBg__contents:before {
  content: '';
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0);
  background: transparent -webkit-gradient(linear, left top, left bottom, from(rgba(9, 0, 46, 0)), to(#07002E)) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(180deg, rgba(9, 0, 46, 0) 0%, #07002E 100%) 0% 0% no-repeat padding-box;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  opacity: 1;
}

.heroBg__audio {
  position: absolute;
  bottom: 0;
  right: 0;
}

@media screen and (max-width: 575.98px) {
  .heroBg__audio {
    display: none;
  }
}

.heroBg__audio__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.heroBg__audio__controls img {
  width: 3rem;
  height: 3rem;
  margin-right: 1.25rem;
  cursor: pointer;
}

.heroBg__audio__controls span {
  border-left: 4px solid var(--green);
  background-color: var(--blue);
  padding: 0.65rem 1rem;
}

.heroBg__audio__controls span p {
  color: var(--green);
  font-size: 1.125rem;
  font-weight: 700;
}

.heroSm {
  display: none;
}

@media screen and (max-width: 575.98px) {
  .heroSm {
    padding-top: 1rem;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .heroSm li {
    margin: 0 0.5rem;
  }
  .heroSm li button {
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 1.5rem;
    padding: 0.5rem 2rem;
    background: var(--green);
    color: var(--blue);
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    border: 0.125rem solid var(--green);
  }
  .heroSm li button:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  .heroSm li:first-child {
    margin-left: 0;
  }
  .heroSm li:first-child button {
    padding: 0.5rem 2.75rem;
  }
  .heroSm li:last-child button {
    background: rgba(255, 255, 255, 0) -webkit-gradient(linear, right top, left top, from(#0E005C73), to(#0E005C73)) 0% 0% no-repeat padding-box;
    background: rgba(255, 255, 255, 0) linear-gradient(270deg, #0E005C73 0%, #0E005C73 100%) 0% 0% no-repeat padding-box;
    color: var(--white);
  }
  .heroSm li:last-child button:hover {
    color: var(--blue);
    background: rgba(255, 255, 255, 0) -webkit-gradient(linear, right top, left top, from(var(--green)), to(var(--green))) 0% 0% no-repeat padding-box;
    background: rgba(255, 255, 255, 0) linear-gradient(270deg, var(--green) 0%, var(--green) 100%) 0% 0% no-repeat padding-box;
  }
}

.recent, .onDemand, .recommended {
  padding: 5rem 0 3rem 0;
}

.recent__title, .onDemand__title, .recommended__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.recent__title h2, .recent__title a, .onDemand__title h2, .onDemand__title a, .recommended__title h2, .recommended__title a {
  font-size: 1.75rem;
  font-weight: 700;
  color: var(--green);
}

.recent__title a, .onDemand__title a, .recommended__title a {
  font-weight: 500;
}

@media (max-width: 575.98px) {
  .recent__title a, .onDemand__title a, .recommended__title a {
    display: none;
  }
}

.recent__slider, .onDemand__slider, .recommended__slider {
  width: 100%;
  height: 100%;
}

@media (max-width: 991.98px) {
  .recent__slider, .onDemand__slider, .recommended__slider {
    padding-bottom: 5rem;
  }
}

.recent__slider .swiper-slide, .onDemand__slider .swiper-slide, .recommended__slider .swiper-slide {
  position: relative;
  overflow: hidden;
  margin: 2.25rem 0;
  width: 15%;
  border-radius: 1.125rem;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  z-index: 1;
}

@media (max-width: 575.98px) {
  .recent__slider .swiper-slide, .onDemand__slider .swiper-slide, .recommended__slider .swiper-slide {
    width: 25%;
  }
}

.recent__slider .swiper-slide img, .onDemand__slider .swiper-slide img, .recommended__slider .swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.recent__slider .swiper-slide .card__buttons, .onDemand__slider .swiper-slide .card__buttons, .recommended__slider .swiper-slide .card__buttons {
  position: absolute;
  width: 100%;
  -webkit-transform: translateY(0rem);
          transform: translateY(0rem);
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.recent__slider .swiper-slide .card__buttons ul, .onDemand__slider .swiper-slide .card__buttons ul, .recommended__slider .swiper-slide .card__buttons ul {
  position: relative;
  width: 62%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 1;
}

.recent__slider .swiper-slide .card__buttons ul li img, .onDemand__slider .swiper-slide .card__buttons ul li img, .recommended__slider .swiper-slide .card__buttons ul li img {
  cursor: pointer;
  width: 2.25rem;
  height: auto;
}

@media (max-width: 575.98px) {
  .recent__slider .swiper-slide .card__buttons ul li img, .onDemand__slider .swiper-slide .card__buttons ul li img, .recommended__slider .swiper-slide .card__buttons ul li img {
    width: 1.25rem;
  }
}

.recent__slider .swiper-slide .card__buttons ul li .play, .onDemand__slider .swiper-slide .card__buttons ul li .play, .recommended__slider .swiper-slide .card__buttons ul li .play {
  width: 5rem;
}

@media (max-width: 575.98px) {
  .recent__slider .swiper-slide .card__buttons ul li .play, .onDemand__slider .swiper-slide .card__buttons ul li .play, .recommended__slider .swiper-slide .card__buttons ul li .play {
    width: 3rem;
  }
}

.recent__slider .swiper-slide .card__buttons ul li .plus, .onDemand__slider .swiper-slide .card__buttons ul li .plus, .recommended__slider .swiper-slide .card__buttons ul li .plus {
  margin-right: 0.75rem;
}

@media (max-width: 575.98px) {
  .recent__slider .swiper-slide .card__buttons ul li .plus, .onDemand__slider .swiper-slide .card__buttons ul li .plus, .recommended__slider .swiper-slide .card__buttons ul li .plus {
    margin-right: 0.5rem;
  }
}

.recent__slider .swiper-slide .card__buttons ul li .love, .onDemand__slider .swiper-slide .card__buttons ul li .love, .recommended__slider .swiper-slide .card__buttons ul li .love {
  width: 2.5rem;
}

@media (max-width: 575.98px) {
  .recent__slider .swiper-slide .card__buttons ul li .love, .onDemand__slider .swiper-slide .card__buttons ul li .love, .recommended__slider .swiper-slide .card__buttons ul li .love {
    width: 1.45rem;
  }
}

.recent__slider .swiper-slide .card__buttons .more, .onDemand__slider .swiper-slide .card__buttons .more, .recommended__slider .swiper-slide .card__buttons .more {
  cursor: pointer;
  width: 5rem;
  height: auto;
}

@media (max-width: 575.98px) {
  .recent__slider .swiper-slide .card__buttons .more, .onDemand__slider .swiper-slide .card__buttons .more, .recommended__slider .swiper-slide .card__buttons .more {
    width: 3rem;
  }
}

.recent__slider .swiper-slide:hover, .onDemand__slider .swiper-slide:hover, .recommended__slider .swiper-slide:hover {
  border: 0.25rem solid var(--white);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.recent__slider .swiper-slide:hover .card__buttons, .onDemand__slider .swiper-slide:hover .card__buttons, .recommended__slider .swiper-slide:hover .card__buttons {
  -webkit-transform: translateY(-5.625rem);
          transform: translateY(-5.625rem);
}

@media (max-width: 575.98px) {
  .recent__slider .swiper-slide:hover .card__buttons, .onDemand__slider .swiper-slide:hover .card__buttons, .recommended__slider .swiper-slide:hover .card__buttons {
    -webkit-transform: translateY(-3.25rem);
            transform: translateY(-3.25rem);
  }
}

.recent__slider .swiper-slide-active, .onDemand__slider .swiper-slide-active, .recommended__slider .swiper-slide-active {
  z-index: 9999;
}

.recent__slider .swiper-button-next, .recent__slider .swiper-button-prev, .onDemand__slider .swiper-button-next, .onDemand__slider .swiper-button-prev, .recommended__slider .swiper-button-next, .recommended__slider .swiper-button-prev {
  padding: 0.75rem 1.35rem;
  border-radius: 50%;
}

@media (min-width: 992px) and (max-width: 1299.98px) {
  .recent__slider .swiper-button-next, .recent__slider .swiper-button-prev, .onDemand__slider .swiper-button-next, .onDemand__slider .swiper-button-prev, .recommended__slider .swiper-button-next, .recommended__slider .swiper-button-prev {
    padding: 0 1.5rem;
  }
}

@media (min-width: 1300px) and (max-width: 1531.98px) {
  .recent__slider .swiper-button-next, .recent__slider .swiper-button-prev, .onDemand__slider .swiper-button-next, .onDemand__slider .swiper-button-prev, .recommended__slider .swiper-button-next, .recommended__slider .swiper-button-prev {
    padding: 1.25rem 1.5rem;
  }
}

@media (min-width: 2500px) {
  .recent__slider .swiper-button-next, .recent__slider .swiper-button-prev, .onDemand__slider .swiper-button-next, .onDemand__slider .swiper-button-prev, .recommended__slider .swiper-button-next, .recommended__slider .swiper-button-prev {
    padding: 1.25rem;
  }
}

.recent__slider .swiper-button-next::after, .recent__slider .swiper-button-prev::after, .onDemand__slider .swiper-button-next::after, .onDemand__slider .swiper-button-prev::after, .recommended__slider .swiper-button-next::after, .recommended__slider .swiper-button-prev::after {
  font-size: 1.25rem;
  font-weight: 900;
}

@media (min-width: 992px) and (max-width: 1299.98px) {
  .recent__slider .swiper-button-next::after, .recent__slider .swiper-button-prev::after, .onDemand__slider .swiper-button-next::after, .onDemand__slider .swiper-button-prev::after, .recommended__slider .swiper-button-next::after, .recommended__slider .swiper-button-prev::after {
    padding: 1rem 1.5rem;
  }
}

@media (max-width: 575.98px) {
  .recent__slider .swiper-button-next, .recent__slider .swiper-button-prev, .onDemand__slider .swiper-button-next, .onDemand__slider .swiper-button-prev, .recommended__slider .swiper-button-next, .recommended__slider .swiper-button-prev {
    display: none;
  }
}

.recent__slider .swiper-button-prev, .onDemand__slider .swiper-button-prev, .recommended__slider .swiper-button-prev {
  left: 4.875rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 0;
}

.recent__slider .swiper-button-prev:after, .onDemand__slider .swiper-button-prev:after, .recommended__slider .swiper-button-prev:after {
  content: "";
  position: absolute;
  width: 3.5rem;
  height: 3.5rem;
  background-image: url("../Image/arrow_left_green.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.recent__slider .swiper-button-next, .onDemand__slider .swiper-button-next, .recommended__slider .swiper-button-next {
  right: 4.875rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 0;
}

.recent__slider .swiper-button-next:after, .onDemand__slider .swiper-button-next:after, .recommended__slider .swiper-button-next:after {
  content: "";
  position: absolute;
  width: 3.5rem;
  height: 3.5rem;
  background-image: url("../Image/arrow_left_green.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.recent__slider .swiper-slide-next, .recent__slider .swiper-slide-prev, .onDemand__slider .swiper-slide-next, .onDemand__slider .swiper-slide-prev, .recommended__slider .swiper-slide-next, .recommended__slider .swiper-slide-prev {
  position: relative;
}

@media (min-width: 992px) {
  .recent__slider .swiper-pagination, .onDemand__slider .swiper-pagination, .recommended__slider .swiper-pagination {
    display: none;
  }
}

.recent__slider .swiper-pagination .swiper-pagination-bullet, .onDemand__slider .swiper-pagination .swiper-pagination-bullet, .recommended__slider .swiper-pagination .swiper-pagination-bullet {
  background: var(--white);
}

.recent__slider .swiper-pagination .swiper-pagination-bullet-active, .onDemand__slider .swiper-pagination .swiper-pagination-bullet-active, .recommended__slider .swiper-pagination .swiper-pagination-bullet-active {
  background: var(--white);
}

.onDemand, .recommended {
  padding-top: 0;
}

.onDemand .swiper:hover .swiper-button-prev, .onDemand .swiper:hover .swiper-button-next, .recommended .swiper:hover .swiper-button-prev, .recommended .swiper:hover .swiper-button-next, .recent .swiper:hover .swiper-button-prev, .recent .swiper:hover .swiper-button-next {
  opacity: 1;
}

.show__modal .modal-dialog {
  max-width: 81.125rem;
}

@media (max-width: 575.98px) {
  .show__modal .modal-dialog {
    max-width: 95%;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .show__modal .modal-dialog {
    max-width: 95%;
  }
}

.show__modal .modal-dialog .modal-content {
  color: var(--white);
  border-radius: 5rem;
  border: 1px solid rgba(0, 0, 0, 0);
}

.show__modal .modal-dialog .modal-content .modal__bg {
  border-radius: 3rem;
  background-color: var(--darkblue);
}

.show__modal .modal-dialog .modal-content .modal__bg .modal-header {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  z-index: 1;
  border-bottom: none;
  width: 100%;
  background-color: var(--darkblue);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 45rem;
}

.show__modal .modal-dialog .modal-content .modal__bg .modal-header:before {
  content: '';
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0);
  background: transparent -webkit-gradient(linear, left top, left bottom, color-stop(25%, rgba(9, 0, 46, 0)), to(#07002E)) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(180deg, rgba(9, 0, 46, 0) 25%, #07002E 100%) 0% 0% no-repeat padding-box;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  opacity: 1;
}

.show__modal .modal-dialog .modal-content .modal__bg .modal-header .close {
  position: relative;
  width: 3rem;
  height: auto;
  margin: 0.75rem;
  cursor: pointer;
}

.show__modal .modal-dialog .modal-content .modal__bg .modal-header .modal__contents {
  position: relative;
  padding: 1rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 575.98px) {
  .show__modal .modal-dialog .modal-content .modal__bg .modal-header .modal__contents {
    padding: 1rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .show__modal .modal-dialog .modal-content .modal__bg .modal-header .modal__contents {
    padding: 1rem 2rem;
  }
}

.show__modal .modal-dialog .modal-content .modal__bg .modal-header .modal__contents__left img {
  width: 20rem;
  height: auto;
  border-radius: 1.5rem;
  border: 0.1875rem solid var(--green);
}

.show__modal .modal-dialog .modal-content .modal__bg .modal-header .modal__contents__right {
  padding-left: 2rem;
}

@media (max-width: 575.98px) {
  .show__modal .modal-dialog .modal-content .modal__bg .modal-header .modal__contents__right {
    padding: 2rem 0;
  }
}

.show__modal .modal-dialog .modal-content .modal__bg .modal-header .modal__contents__right .modal-title {
  color: var(--green);
  font-size: 3rem;
  font-weight: 700;
}

@media (max-width: 575.98px) {
  .show__modal .modal-dialog .modal-content .modal__bg .modal-header .modal__contents__right .modal-title {
    font-size: 1.5rem;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .show__modal .modal-dialog .modal-content .modal__bg .modal-header .modal__contents__right .modal-title {
    font-size: 1.75rem;
  }
}

.show__modal .modal-dialog .modal-content .modal__bg .modal-header .modal__contents__right h5 {
  font-size: 1.75rem;
  padding-bottom: 2.25rem;
}

@media (max-width: 575.98px) {
  .show__modal .modal-dialog .modal-content .modal__bg .modal-header .modal__contents__right h5 {
    padding-bottom: 1.5rem;
    font-size: 1.25rem;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .show__modal .modal-dialog .modal-content .modal__bg .modal-header .modal__contents__right h5 {
    padding-bottom: 1.75rem;
    font-size: 1.25rem;
  }
}

.show__modal .modal-dialog .modal-content .modal__bg .modal-header .modal__contents__right h6 {
  font-size: 2.25rem;
  font-weight: 600;
  padding-bottom: 1.5rem;
}

@media (max-width: 575.98px) {
  .show__modal .modal-dialog .modal-content .modal__bg .modal-header .modal__contents__right h6 {
    font-size: 1.25rem;
    padding-bottom: 1rem;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .show__modal .modal-dialog .modal-content .modal__bg .modal-header .modal__contents__right h6 {
    padding-bottom: 1rem;
    font-size: 1.75rem;
  }
}

.show__modal .modal-dialog .modal-content .modal__bg .modal-header .modal__contents__right h4 {
  font-size: 1.5rem;
  font-weight: 500;
  padding-bottom: 0.5rem;
}

@media (max-width: 575.98px) {
  .show__modal .modal-dialog .modal-content .modal__bg .modal-header .modal__contents__right h4 {
    font-size: 1rem;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .show__modal .modal-dialog .modal-content .modal__bg .modal-header .modal__contents__right h4 {
    font-size: 1.25rem;
  }
}

.show__modal .modal-dialog .modal-content .modal__bg .modal-header .modal__contents__right h2 {
  font-size: 1.25rem;
  padding-bottom: 1.25rem;
  font-weight: 600;
}

@media (max-width: 575.98px) {
  .show__modal .modal-dialog .modal-content .modal__bg .modal-header .modal__contents__right h2 {
    font-size: 1rem;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .show__modal .modal-dialog .modal-content .modal__bg .modal-header .modal__contents__right h2 {
    font-size: 1rem;
    padding-bottom: 1rem;
  }
}

.show__modal .modal-dialog .modal-content .modal__bg .modal-header .modal__contents__right h2 span {
  font-weight: 400;
}

.show__modal .modal-dialog .modal-content .modal__bg .modal-header .modal__contents__right p {
  font-size: 1.25rem;
}

@media (max-width: 575.98px) {
  .show__modal .modal-dialog .modal-content .modal__bg .modal-header .modal__contents__right p {
    font-size: 1rem;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .show__modal .modal-dialog .modal-content .modal__bg .modal-header .modal__contents__right p {
    font-size: 1rem;
  }
}

.show__modal .modal-dialog .modal-content .modal__bg .modal__buttons {
  position: relative;
  width: 100%;
  padding: 1rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 575.98px) {
  .show__modal .modal-dialog .modal-content .modal__bg .modal__buttons {
    padding: 0 1rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .show__modal .modal-dialog .modal-content .modal__bg .modal__buttons {
    padding: 1rem 2rem;
  }
}

.show__modal .modal-dialog .modal-content .modal__bg .modal__buttons ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.show__modal .modal-dialog .modal-content .modal__bg .modal__buttons ul li {
  margin-right: 1rem;
}

.show__modal .modal-dialog .modal-content .modal__bg .modal__buttons ul li button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 1.25rem;
  font-weight: 600;
  border-radius: 1.5rem;
  padding: 0.5rem 2rem;
  background: rgba(255, 255, 255, 0) -webkit-gradient(linear, right top, left top, from(var(--green)), to(var(--green))) 0% 0% no-repeat padding-box;
  background: rgba(255, 255, 255, 0) linear-gradient(270deg, var(--green) 0%, var(--green) 100%) 0% 0% no-repeat padding-box;
  color: var(--blue);
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  border: 0;
}

.show__modal .modal-dialog .modal-content .modal__bg .modal__buttons ul li button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.show__modal .modal-dialog .modal-content .modal__bg .modal__buttons ul li button img {
  width: 1.25rem;
  margin-right: 0.5rem;
}

.show__modal .modal-dialog .modal-content .modal__bg .modal__buttons ul li img {
  cursor: pointer;
  width: 2.85rem;
  height: auto;
}

@media (max-width: 575.98px) {
  .show__modal .modal-dialog .modal-content .modal__bg .modal__buttons ul li img {
    width: 1.5rem;
  }
}

.show__modal .modal-dialog .modal-content .modal__bg .modal__buttons h2 {
  font-size: 1.25rem;
  padding-top: 1.25rem;
  font-weight: 600;
}

@media (max-width: 575.98px) {
  .show__modal .modal-dialog .modal-content .modal__bg .modal__buttons h2 {
    font-size: 1rem;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .show__modal .modal-dialog .modal-content .modal__bg .modal__buttons h2 {
    font-size: 1rem;
    padding-bottom: 1rem;
  }
}

.show__modal .modal-dialog .modal-content .modal__bg .modal__buttons h2 span {
  font-weight: 400;
}

.show__modal .modal-dialog .modal-content .modal__bg .modal-body .body__contents {
  padding: 1rem 3rem 0 3rem;
}

@media (max-width: 575.98px) {
  .show__modal .modal-dialog .modal-content .modal__bg .modal-body .body__contents {
    padding: 1rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .show__modal .modal-dialog .modal-content .modal__bg .modal-body .body__contents {
    padding: 1rem 2rem;
  }
}

.show__modal .modal-dialog .modal-content .modal__bg .modal-body .body__contents__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.show__modal .modal-dialog .modal-content .modal__bg .modal-body .body__contents__title h2 {
  font-size: 2.125rem;
  font-weight: 600;
}

@media (max-width: 575.98px) {
  .show__modal .modal-dialog .modal-content .modal__bg .modal-body .body__contents__title h2 {
    font-size: 1.25rem;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .show__modal .modal-dialog .modal-content .modal__bg .modal-body .body__contents__title h2 {
    font-size: 1.75rem;
    padding-bottom: 1rem;
  }
}

.show__modal .modal-dialog .modal-content .modal__bg .modal-body .body__contents__title .input-group {
  width: auto;
}

.show__modal .modal-dialog .modal-content .modal__bg .modal-body .body__contents__title .input-group select {
  border: none;
  font-size: 1.25rem;
  padding: 0.5rem 1rem;
  font-weight: 600;
  color: var(--white);
  background-color: #3E337D;
}

@media (max-width: 575.98px) {
  .show__modal .modal-dialog .modal-content .modal__bg .modal-body .body__contents__title .input-group select {
    font-size: 1rem;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .show__modal .modal-dialog .modal-content .modal__bg .modal-body .body__contents__title .input-group select {
    font-size: 1.5rem;
  }
}

.show__modal .modal-dialog .modal-content .modal__bg .modal-body .body__contents__episodes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 0;
  border-bottom: 0.125rem solid #3E337D;
}

@media (max-width: 575.98px) {
  .show__modal .modal-dialog .modal-content .modal__bg .modal-body .body__contents__episodes {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.show__modal .modal-dialog .modal-content .modal__bg .modal-body .body__contents__episodes__left {
  width: 38%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 575.98px) {
  .show__modal .modal-dialog .modal-content .modal__bg .modal-body .body__contents__episodes__left {
    width: 100%;
    padding-bottom: 2rem;
  }
}

.show__modal .modal-dialog .modal-content .modal__bg .modal-body .body__contents__episodes__left span {
  font-size: 1.65rem;
  font-weight: 600;
}

.show__modal .modal-dialog .modal-content .modal__bg .modal-body .body__contents__episodes__left__thumb {
  position: relative;
}

.show__modal .modal-dialog .modal-content .modal__bg .modal-body .body__contents__episodes__left__thumb img {
  width: 24.5rem;
  height: auto;
  cursor: pointer;
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .show__modal .modal-dialog .modal-content .modal__bg .modal-body .body__contents__episodes__left__thumb img {
    width: 18rem;
  }
}

.show__modal .modal-dialog .modal-content .modal__bg .modal-body .body__contents__episodes__left__thumb:before {
  content: '';
  background: url("../Image/play_button_white.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 5rem;
  height: 5rem;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: pointer;
}

.show__modal .modal-dialog .modal-content .modal__bg .modal-body .body__contents__episodes__right {
  width: 58%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 575.98px) {
  .show__modal .modal-dialog .modal-content .modal__bg .modal-body .body__contents__episodes__right {
    width: 100%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.show__modal .modal-dialog .modal-content .modal__bg .modal-body .body__contents__episodes__right__info {
  width: 80%;
}

@media (max-width: 575.98px) {
  .show__modal .modal-dialog .modal-content .modal__bg .modal-body .body__contents__episodes__right__info {
    width: 75%;
  }
}

.show__modal .modal-dialog .modal-content .modal__bg .modal-body .body__contents__episodes__right__info h4 {
  font-size: 2.125rem;
  font-weight: 600;
  padding-bottom: 1.25rem;
}

@media (max-width: 575.98px) {
  .show__modal .modal-dialog .modal-content .modal__bg .modal-body .body__contents__episodes__right__info h4 {
    font-size: 1.125rem;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .show__modal .modal-dialog .modal-content .modal__bg .modal-body .body__contents__episodes__right__info h4 {
    font-size: 1.5rem;
  }
}

.show__modal .modal-dialog .modal-content .modal__bg .modal-body .body__contents__episodes__right__info p {
  font-size: 1.25rem;
}

@media (max-width: 575.98px) {
  .show__modal .modal-dialog .modal-content .modal__bg .modal-body .body__contents__episodes__right__info p {
    font-size: 1rem;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .show__modal .modal-dialog .modal-content .modal__bg .modal-body .body__contents__episodes__right__info p {
    font-size: 1rem;
  }
}

.show__modal .modal-dialog .modal-content .modal__bg .modal-body .body__contents__episodes__right span {
  font-size: 1.65rem;
  font-weight: 600;
}

@media (max-width: 575.98px) {
  .show__modal .modal-dialog .modal-content .modal__bg .modal-body .body__contents__episodes__right span {
    font-size: 1.125rem;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .show__modal .modal-dialog .modal-content .modal__bg .modal-body .body__contents__episodes__right span {
    font-size: 1.25rem;
  }
}

.show__modal .modal-dialog .modal-content .modal__bg .modal-body .body__contents__episodes:last-child {
  border-bottom: 0;
}

.show__modal .modal-dialog .modal-content .modal__bg .modal-body .body__contents__similar h2 {
  padding-top: 5rem;
  color: var(--green);
  font-size: 2.125rem;
  font-weight: 600;
}

@media (max-width: 575.98px) {
  .show__modal .modal-dialog .modal-content .modal__bg .modal-body .body__contents__similar h2 {
    font-size: 1.25rem;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .show__modal .modal-dialog .modal-content .modal__bg .modal-body .body__contents__similar h2 {
    font-size: 1.75rem;
    padding-bottom: 1rem;
  }
}

.show__modal .modal-dialog .modal-content .modal__bg .modal-body .body__contents__similar__contents {
  padding: 2rem 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.show__modal .modal-dialog .modal-content .modal__bg .modal-body .body__contents__similar__contents__singleItem {
  width: 21.125rem;
  margin-bottom: 4rem;
}

@media (max-width: 575.98px) {
  .show__modal .modal-dialog .modal-content .modal__bg .modal-body .body__contents__similar__contents__singleItem {
    width: 100%;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .show__modal .modal-dialog .modal-content .modal__bg .modal-body .body__contents__similar__contents__singleItem {
    width: 25rem;
  }
}

.show__modal .modal-dialog .modal-content .modal__bg .modal-body .body__contents__similar__contents__singleItem__top {
  background-color: var(--blue);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 16.6875rem;
  border-top-left-radius: 2.5rem;
  border-top-right-radius: 2.5rem;
  position: relative;
}

.show__modal .modal-dialog .modal-content .modal__bg .modal-body .body__contents__similar__contents__singleItem__top span {
  font-size: 1.5rem;
  font-weight: 600;
  position: absolute;
  right: 1.5rem;
  top: 2rem;
}

.show__modal .modal-dialog .modal-content .modal__bg .modal-body .body__contents__similar__contents__singleItem__top:before {
  content: '';
  background: url("../Image/play_button_white.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 6rem;
  height: 6rem;
  bottom: 0;
  right: 0;
  cursor: pointer;
}

.show__modal .modal-dialog .modal-content .modal__bg .modal-body .body__contents__similar__contents__singleItem__below {
  background-color: #2C2261;
  width: 100%;
  padding: 0 1.5rem 2rem 1.5rem;
}

.show__modal .modal-dialog .modal-content .modal__bg .modal-body .body__contents__similar__contents__singleItem__below h4 {
  font-size: 1.5rem;
  font-weight: 600;
  padding: 2rem 0 1rem 0;
}

.show__modal .modal-dialog .modal-content .modal__bg .modal-body .body__contents__similar__contents__singleItem__below h6 {
  font-size: 1.25rem;
  font-weight: 400;
  padding-bottom: 1rem;
}

.show__modal .modal-dialog .modal-content .modal__bg .modal-body .body__contents__similar__contents__singleItem__below p {
  font-size: 1.125rem;
}

.footer {
  padding: 1rem 0 2rem 0;
}

@media (max-width: 575.98px) {
  .footer {
    padding-bottom: 6.5rem;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .footer {
    padding-bottom: 7rem;
  }
}

.footer__credit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 991.98px) {
  .footer__credit {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__credit__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 991.98px) {
  .footer__credit__logo {
    padding-bottom: 1rem;
  }
}

.footer__credit__logo svg {
  width: 5rem;
  height: auto;
  fill: var(--white);
  margin-right: 1.5rem;
}

.footer__credit__logo p {
  font-size: 1rem;
  font-weight: 500;
  color: var(--white);
  padding-top: 1rem;
}

.footer__credit ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__credit ul li a {
  font-size: 1rem;
  font-weight: 500;
  color: var(--white);
}

.footer__credit ul li a:hover {
  color: var(--green);
}

.footer__credit ul li:last-child {
  margin-left: 2rem;
}

.notFound {
  background-color: var(--darkblue);
  color: var(--white);
  height: 100vh;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.notFound h2 {
  display: inline-block;
  border-right: 1px solid var(--white);
  margin: 0;
  margin-right: 1.25rem;
  padding: 1.25rem 1.4375rem 1.25rem 0;
  font-size: 1.5rem;
  vertical-align: top;
  font-weight: 900;
}

.notFound .bar {
  display: inline-block;
  text-align: left;
  line-height: 3rem;
  height: 3rem;
  vertical-align: middle;
}

.notFound .bar h3 {
  font-weight: normal;
  line-height: inherit;
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

@media (max-width: 575.98px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 992px) and (max-width: 1299.98px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 1300px) and (max-width: 1531.98px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 1532px) and (max-width: 1600px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 2500px) {
  html {
    font-size: 22px;
  }
}

@media (max-width: 320px) {
  html {
    font-size: 9px;
  }
}

@media (min-width: 321px) and (max-width: 376px) {
  html {
    font-size: 10px;
  }
}

body {
  font-family: "Epilogue", sans-serif;
  background-color: var(--darkblue);
  color: var(--white);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

::-webkit-scrollbar {
  width: 0.1875rem;
  height: 0.1875rem;
  border-radius: 0.625rem;
}

::-webkit-scrollbar-track {
  border-radius: 0.625rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.625rem;
  background: var(--green);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: var(--green);
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

h2 {
  font-size: 1.5rem;
  font-weight: 500;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  margin: 0;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a, select, input, textarea, button {
  outline: none !important;
}

.btn:focus, .btn.focus, .form-control:focus {
  outline: 0 !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.btn-link:focus, .btn-link.focus {
  text-decoration: none;
}

.wrapper {
  margin: 0 auto;
  padding: 0 1rem;
}

@media (max-width: 575.98px) {
  .wrapper {
    width: 90%;
    margin: 0 auto;
    padding: 0;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .wrapper {
    width: 80%;
    margin: 0 auto;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .wrapper {
    max-width: 720px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .wrapper {
    max-width: 960px;
  }
}

@media (min-width: 1200px) and (max-width: 1299.98px) {
  .wrapper {
    max-width: 95rem;
  }
}

@media (min-width: 1300px) and (max-width: 1398.98px) {
  .wrapper {
    max-width: 105rem;
  }
}

@media (min-width: 1400px) {
  .wrapper {
    max-width: 115rem;
  }
}
/*# sourceMappingURL=style.css.map */