.loader__wrap {
  margin-top: 4rem;
}

.loader__wrap .loader {
  background-color: #07002E;
  padding: 1.75rem 0;
  opacity: 0.75;
}

.loader__wrap .loader .pulse {
  border-bottom: 1px solid #67fe65;
  -webkit-animation: borderPulse 1000ms infinite ease-out;
          animation: borderPulse 1000ms infinite ease-out;
}

@-webkit-keyframes borderPulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  30% {
    -webkit-box-shadow: inset 0px 0px 0px 1px rgba(103, 254, 101, 0.4), 0px 0px 0px 0px #67fe65;
            box-shadow: inset 0px 0px 0px 1px rgba(103, 254, 101, 0.4), 0px 0px 0px 0px #67fe65;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-box-shadow: inset 0px 0px 0px 1px rgba(103, 254, 101, 0.2), 0px 0px 0px 5px rgba(103, 254, 101, 0);
            box-shadow: inset 0px 0px 0px 1px rgba(103, 254, 101, 0.2), 0px 0px 0px 5px rgba(103, 254, 101, 0);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes borderPulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  30% {
    -webkit-box-shadow: inset 0px 0px 0px 1px rgba(103, 254, 101, 0.4), 0px 0px 0px 0px #67fe65;
            box-shadow: inset 0px 0px 0px 1px rgba(103, 254, 101, 0.4), 0px 0px 0px 0px #67fe65;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-box-shadow: inset 0px 0px 0px 1px rgba(103, 254, 101, 0.2), 0px 0px 0px 5px rgba(103, 254, 101, 0);
            box-shadow: inset 0px 0px 0px 1px rgba(103, 254, 101, 0.2), 0px 0px 0px 5px rgba(103, 254, 101, 0);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  -webkit-transition: all 1s;
  transition: all 1s;
}

@media (max-width: 575.98px) {
  .header {
    background: #07002E;
  }
}

.header:before {
  content: "";
  overflow: hidden;
  position: fixed;
  top: 0;
  height: 5.75rem;
  width: 100%;
  background: #07002E;
  opacity: 1;
  z-index: 1;
}

@media (max-width: 575.98px) {
  .header:before {
    content: none;
  }
}

.header nav {
  position: relative;
  z-index: 2;
  padding: 0 2rem 0 2rem;
}

@media (max-width: 991.98px) {
  .header nav {
    padding: 0 1rem;
  }
}

.header nav .navbar-brand {
  background: #67fe65;
  padding: 1.25rem 1.125rem;
  border-bottom-left-radius: 1.75rem;
  border-bottom-right-radius: 1.75rem;
}

.header nav .navbar-brand:hover {
  background: rgba(255, 255, 255, 0);
  background: linear-gradient(75deg, rgba(103, 254, 101, 0.75) 30%, #0e005c 100%);
}

.header nav .navbar-brand:hover svg {
  fill: #ffffff;
}

.header nav .navbar-brand svg {
  -webkit-transition: all .2s;
  transition: all .2s;
  width: 10rem;
  height: auto;
  fill: #0e005c;
}

@media (max-width: 575.98px) {
  .header nav .navbar-brand svg {
    width: 7rem;
  }
}

.header nav form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-left: 1rem;
}

.header nav form .search-box {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0);
  height: 2.65rem;
  border-radius: 0.25rem;
  padding: 1rem 0.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid rgba(255, 255, 255, 0);
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .header nav form .search-box {
    height: 2.25rem;
  }
}

.header nav form .search-box:hover {
  background: #060224;
  border: 1px solid #ffffff;
}

.header nav form .search-box:hover input {
  width: 13rem;
  color: #ffffff;
  opacity: 1;
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .header nav form .search-box:hover input {
    width: 6rem;
  }
}

.header nav form .search-box:hover a {
  width: 1.5rem;
  border-radius: 50%;
  cursor: pointer;
  text-decoration: none;
  opacity: 1;
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .header nav form .search-box:hover a {
    width: 1.25rem;
  }
}

.header nav form .search-box:hover a img {
  width: 1.5rem;
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .header nav form .search-box:hover a img {
    width: 1.25rem;
  }
}

.header nav form .search-box img {
  cursor: pointer;
  width: 1.75rem;
  height: auto;
  margin-right: 0.75rem;
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .header nav form .search-box img {
    width: 1.5rem;
    margin-right: 0.5rem;
  }
}

.header nav form .search-box input {
  opacity: 0;
}

.header nav form a {
  opacity: 0;
}

.header nav form input {
  border: none;
  background: none;
  outline: none;
  color: #ffffff;
  font-size: 1rem;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  width: 0px;
}

.header nav form label {
  margin-left: 3.5rem;
  font-size: 1.25rem;
  font-weight: 600;
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .header nav form label {
    font-size: 1rem;
  }
}

.header nav .navbar-nav .navLink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.25rem;
  font-weight: 600;
  color: #ffffff !important;
  border-radius: 5rem;
  padding: 0.25rem 1.25rem !important;
  border: 0.1875rem solid rgba(255, 255, 255, 0);
}

@media (max-width: 575.98px) {
  .header nav .navbar-nav .navLink {
    font-size: 1.5rem;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .header nav .navbar-nav .navLink {
    font-size: 1rem;
  }
}

.header nav .navbar-nav .navLink:hover {
  color: #67fe65 !important;
  border: 0.1875rem solid #67fe65;
}

.header nav .navbar-nav .navLink:hover .navIcon {
  fill: #67fe65;
}

.header nav .navbar-nav .navIcon {
  width: 1.75rem;
  height: auto;
  margin-right: 0.75rem;
  fill: #ffffff;
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .header nav .navbar-nav .navIcon {
    width: 1.5rem;
    margin-right: 0.5rem;
  }
}

.header nav .navbar-nav .gameNav {
  width: 2.25rem;
  height: auto;
}

.header nav .auth-dropdown button {
  color: #ffffff;
  font-size: 1.25rem;
  font-weight: 500;
  -webkit-transition: all .5s;
  transition: all .5s;
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .header nav .auth-dropdown button {
    font-size: 1rem;
  }
}

.header nav .auth-dropdown button:after {
  display: none;
}

.header nav .auth-dropdown .dropdown-menu {
  position: absolute;
  background-color: #4A3D7E;
  padding: 0;
}

.header nav .auth-dropdown .dropdown-menu a {
  color: #ffffff;
  padding: .65rem 1rem;
}

.header nav .auth-dropdown .dropdown-menu a:hover, .header nav .auth-dropdown .dropdown-menu a:focus {
  background-color: #0e005c;
  color: #67fe65;
}

.header nav .auth-dropdown .dropdown-item {
  font-size: 1rem;
  width: 100%;
  clear: both;
  font-weight: 400;
}

.header nav .auth-dropdown .avatar {
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 2.75rem;
  height: 2.75rem;
  border-radius: .375rem;
  background-color: rgba(255, 255, 255, 0);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50% !important;
  border: 0.125rem solid #67fe65;
}

.header nav .auth-dropdown .avatar img {
  border-radius: 50% !important;
  width: 2.5rem;
  height: 2.5rem;
  position: static;
}

.header nav .mobile-design {
  margin: 0 1.5rem;
}

.header nav .mobile-design img {
  position: absolute;
  right: 5rem;
  top: 1.25rem;
}

@media screen and (max-width: 991.98px) {
  .header nav .mobile-design img {
    width: 2rem;
    top: 1.5rem;
  }
}

.header nav .mobile-design .auth-dropdown {
  position: absolute;
  right: 0;
  top: 1rem;
}

@media (max-width: 575.98px) {
  .header nav .mobile-design .auth-dropdown {
    top: 0.5rem;
  }
}

.header nav .mobile-design .nav-toggle {
  cursor: pointer;
  position: absolute;
  right: 1.5rem;
  top: 2rem;
  width: 2rem;
  z-index: 9000;
}

.header nav .mobile-design .nav-toggle .top {
  display: block;
  width: 2rem;
  height: 0.15rem;
  background-color: #ffffff;
  -webkit-transition: all .5s;
  transition: all .5s;
  margin-bottom: 0.35rem;
}

.header nav .mobile-design .nav-toggle .mid {
  display: block;
  width: 2rem;
  height: 0.15rem;
  background-color: #ffffff;
  -webkit-transition: all .5s;
  transition: all .5s;
  margin-bottom: 0.35rem;
  position: relative;
}

.header nav .mobile-design .nav-toggle .bot {
  display: block;
  width: 2rem;
  height: 0.2rem;
  background-color: #ffffff;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.header nav .mobile-design .nav-toggle .top, .header nav .mobile-design .nav-toggle .bot {
  -webkit-transform-origin: 0.1875rem 0.125rem;
          transform-origin: 0.1875rem 0.125rem;
}

.header nav .mobile-design .menu {
  position: fixed;
  left: 0;
  bottom: 0;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
  height: 5rem;
  padding: 0 1rem;
  border-top-left-radius: 1.75rem;
  border-top-right-radius: 1.75rem;
  background: #0e005c;
  -webkit-box-shadow: 1px 0px 0.75rem 0px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 0px 0.75rem 0px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

@media only screen and (min-width: 992px) {
  .header nav .mobile-design .menu {
    display: none;
  }
}

.header nav .mobile-design .menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 991.98px) {
  .header nav .mobile-design .menu ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 4rem;
            column-gap: 4rem;
  }
}

.header nav .mobile-design .menu__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: none;
  outline: none;
  color: #67fe65;
}

.header nav .mobile-design .menu__link .is__active {
  position: relative;
  color: #67fe65;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.header nav .mobile-design .menu span {
  display: none;
  visibility: visible;
  font-family: inherit;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25;
  text-transform: capitalize;
}

.header nav .mobile-design .menu .is__active span {
  display: block;
}

.header nav .mobile-design .menu .is__active .navIcon {
  fill: #67fe65;
  margin-right: 0;
}

.header nav .mobile-design .menu .navIcon {
  width: 1.5rem;
  height: auto;
  margin-right: 0.75rem;
  fill: #ffffff;
  margin-bottom: 0.25rem;
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .header nav .mobile-design .menu .navIcon {
    width: 1.5rem;
    margin-right: 0.5rem;
  }
}

.header nav .mobile-design .menu .gameNav {
  width: 1.85rem;
  height: auto;
}

@media (min-width: 576px) {
  .public-header:before {
    opacity: 0.3;
  }
}

.authModal .modal-dialog {
  color: #121212;
  max-width: 36rem;
}

@media (min-width: 576px) and (max-width: 1531.98px) {
  .authModal .modal-dialog {
    max-width: 32rem;
  }
}

.authModal .modal-dialog .modal-content {
  background-color: #0e005c;
  text-align: center;
}

.authModal .modal-dialog .modal-content .modal-header {
  border-bottom: none;
  margin-left: auto;
}

.authModal .modal-dialog .modal-content .modal-header img {
  cursor: pointer;
  width: 1.75rem;
  height: 1.75rem;
  margin: 1rem 1rem 0 0;
}

.authModal .modal-dialog .modal-content .modal-body {
  color: #ffffff;
}

.authModal .modal-dialog .modal-content .modal-body img {
  width: 13.5rem;
  height: auto;
  margin-bottom: 1rem;
}

.authModal .modal-dialog .modal-content .modal-body h2 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 800;
  opacity: 1;
  margin: 1.5rem 0;
}

.authModal .modal-dialog .modal-content .modal-body p {
  text-align: center;
  font-size: 1.125rem;
  font-weight: 500;
  color: #ffffff;
  margin-top: 1.25rem;
  padding: 0 2rem;
}

.authModal .modal-dialog .modal-content .modal-body p span {
  text-align: center;
  font-size: 1.25rem;
  font-weight: 600;
  color: #67fe65;
  margin: 0;
  cursor: pointer;
}

.authModal .modal-dialog .modal-content .modal-body h5 {
  text-align: center;
  font-size: 1.25rem;
  font-weight: 600;
  color: #67fe65;
  margin: 0;
  cursor: pointer;
}

.authModal .modal-dialog .modal-content .modal-body form {
  margin-top: 1.5rem;
  padding: 0 1rem;
}

.authModal .modal-dialog .modal-content .modal-body form input {
  border: 0.125rem solid #67fe65;
  height: 3.125rem;
  background-color: #0e005c;
  font-size: 1.25rem;
  padding: 0.625rem;
  color: #ffffff;
  border-radius: 0;
}

.authModal .modal-dialog .modal-content .modal-footer {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: none;
  padding-bottom: 3rem;
}

.authModal .modal-dialog .modal-content .modal-footer button {
  padding: 0.25rem 4rem;
  font-size: 1.125rem;
}

.heroBg {
  position: relative;
  background-color: #0e005c;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 64rem;
}

@media (max-width: 575.98px) {
  .heroBg {
    min-height: 22rem;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-top: 4rem;
  }
}

.heroBg__contents {
  padding: 6rem 6rem 0 0 !important;
}

@media (max-width: 575.98px) {
  .heroBg__contents {
    padding: 0 3rem !important;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .heroBg__contents {
    width: 90% !important;
  }
}

.heroBg__contents img {
  position: relative;
  width: 18.75rem;
  height: 6.1875rem;
}

.heroBg__contents h1 {
  font-size: 2.4375rem;
  font-weight: 700;
  position: relative;
  padding: 1rem 0 1.25rem 0;
}

@media (max-width: 575.98px) {
  .heroBg__contents h1 {
    font-size: 1.5rem;
  }
}

.heroBg__contents h2 {
  font-size: 2.0625rem;
  font-weight: 600;
  position: relative;
  padding-bottom: 2rem;
}

@media (max-width: 575.98px) {
  .heroBg__contents h2 {
    font-size: 1.25rem;
    padding-bottom: 1rem;
  }
}

.heroBg__contents h2 span {
  font-weight: 700;
}

.heroBg__contents h6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
  font-family: "Bradley Hand ITC", cursive;
  font-size: 1.0625rem;
  font-weight: 700;
  margin-left: 8.5rem;
  margin-top: 0.5rem;
}

.heroBg__contents h6 img {
  width: 1.875rem;
  height: 1.375rem;
}

.heroBg__contents h6 span {
  margin-top: 0.5rem;
  margin-left: 0.25rem;
}

.heroBg__contents ul {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.heroBg__contents ul li {
  margin: 0 0.5rem;
}

.heroBg__contents ul li button {
  font-size: 1.25rem;
  font-weight: 600;
  border-radius: 1.5rem;
  padding: 0.5rem 1.75rem 0.25rem 1.75rem;
  background: #67fe65;
  color: #0e005c;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
  border: 0;
  border: 0.125rem solid #67fe65;
}

@media (max-width: 575.98px) {
  .heroBg__contents ul li button {
    font-size: 1rem;
  }
}

.heroBg__contents ul li button:hover {
  border: 0.125rem solid #67fe65 !important;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  color: #ffffff;
  background: #07002E;
}

.heroBg__contents:before {
  content: '';
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0);
  background: transparent -webkit-gradient(linear, left top, left bottom, from(rgba(9, 0, 46, 0)), color-stop(80%, #07002E)) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(180deg, rgba(9, 0, 46, 0) 0%, #07002E 80%) 0% 0% no-repeat padding-box;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  opacity: 1;
}

@media (max-width: 575.98px) {
  .heroBg__contents:before {
    background: transparent -webkit-gradient(linear, left top, left bottom, color-stop(30%, rgba(9, 0, 46, 0)), to(#07002E)) 0% 0% no-repeat padding-box;
    background: transparent linear-gradient(180deg, rgba(9, 0, 46, 0) 30%, #07002E 100%) 0% 0% no-repeat padding-box;
  }
}

.heroFixed {
  position: fixed;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  right: 0;
}

.tvEnVivo {
  width: 100%;
  height: 100vh;
  position: relative;
  top: 6rem;
}

.shows {
  padding: 3rem 0 0 0;
}

@media (max-width: 575.98px) {
  .shows {
    padding: 2rem 0;
  }
}

.shows .swiper-wrapper {
  margin-left: 3rem !important;
}

@media (max-width: 575.98px) {
  .shows .swiper-wrapper {
    margin-left: 2rem !important;
  }
}

.shows__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 3rem;
}

@media (max-width: 575.98px) {
  .shows__title {
    margin: 0 2rem;
  }
}

.shows__title h2, .shows__title a {
  font-size: 1.75rem;
  font-weight: 700;
  color: #67fe65;
}

.shows__title a {
  font-weight: 500;
}

@media (max-width: 575.98px) {
  .shows__title a {
    display: none;
  }
}

.shows__slider {
  width: 100%;
  height: 100%;
}

@media (max-width: 991.98px) {
  .shows__slider {
    padding-bottom: 5rem;
  }
}

.shows__slider .swiper-slide {
  position: relative;
  overflow: hidden;
  margin: 2.25rem 0;
  width: 16rem !important;
  border-radius: 1.125rem;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  z-index: 1;
}

@media (max-width: 575.98px) {
  .shows__slider .swiper-slide {
    width: 25%;
  }
}

.shows__slider .swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.shows__slider .swiper-slide .card__buttons {
  position: absolute;
  width: 100%;
  -webkit-transform: translateY(0rem);
          transform: translateY(0rem);
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.shows__slider .swiper-slide .card__buttons ul {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}

.shows__slider .swiper-slide .card__buttons ul li img {
  cursor: pointer;
  width: 2.25rem;
  height: auto;
}

@media (max-width: 575.98px) {
  .shows__slider .swiper-slide .card__buttons ul li img {
    width: 1.25rem;
  }
}

.shows__slider .swiper-slide .card__buttons ul li .play {
  width: 5rem;
}

@media (max-width: 575.98px) {
  .shows__slider .swiper-slide .card__buttons ul li .play {
    width: 3rem;
  }
}

@media (max-width: 575.98px) {
  .shows__slider .swiper-slide .card__buttons ul li .plus {
    margin-right: 0.5rem;
  }
}

.shows__slider .swiper-slide .card__buttons ul li .love {
  width: 2.5rem;
}

@media (max-width: 575.98px) {
  .shows__slider .swiper-slide .card__buttons ul li .love {
    width: 1.45rem;
  }
}

.shows__slider .swiper-slide .card__buttons .more {
  cursor: pointer;
  width: 5rem;
  height: auto;
}

@media (max-width: 575.98px) {
  .shows__slider .swiper-slide .card__buttons .more {
    width: 3rem;
  }
}

.shows__slider .swiper-slide:hover {
  border: 0.25rem solid #67fe65;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.shows__slider .swiper-slide:hover .card__buttons {
  -webkit-transform: translateY(-5.625rem);
          transform: translateY(-5.625rem);
}

@media (max-width: 575.98px) {
  .shows__slider .swiper-slide:hover .card__buttons {
    -webkit-transform: translateY(-3.25rem);
            transform: translateY(-3.25rem);
  }
}

.shows__slider .swiper-slide-active {
  z-index: 9999;
}

.shows__slider .swiper-button-next, .shows__slider .swiper-button-prev {
  padding: 0.75rem 1.35rem;
  border-radius: 50%;
}

@media (min-width: 992px) and (max-width: 1299.98px) {
  .shows__slider .swiper-button-next, .shows__slider .swiper-button-prev {
    padding: 0 1.5rem;
  }
}

@media (min-width: 1300px) and (max-width: 1531.98px) {
  .shows__slider .swiper-button-next, .shows__slider .swiper-button-prev {
    padding: 1.25rem 1.5rem;
  }
}

@media (min-width: 2500px) {
  .shows__slider .swiper-button-next, .shows__slider .swiper-button-prev {
    padding: 1.25rem;
  }
}

.shows__slider .swiper-button-next::after, .shows__slider .swiper-button-prev::after {
  font-size: 1.25rem;
  font-weight: 900;
}

@media (min-width: 992px) and (max-width: 1299.98px) {
  .shows__slider .swiper-button-next::after, .shows__slider .swiper-button-prev::after {
    padding: 1rem 1.5rem;
  }
}

.shows__slider .swiper-button-prev {
  left: 2rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 1;
  z-index: 999;
}

.shows__slider .swiper-button-prev:after {
  content: "";
  position: absolute;
  width: 3.5rem;
  height: 3.5rem;
  background-image: url("../Image/arrow_left_green.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.shows__slider .swiper-button-next {
  right: 2rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 1;
  z-index: 999;
}

.shows__slider .swiper-button-next:after {
  content: "";
  position: absolute;
  width: 3.5rem;
  height: 3.5rem;
  background-image: url("../Image/arrow_left_green.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.shows__slider .swiper-slide-next, .shows__slider .swiper-slide-prev {
  position: relative;
}

.shows__slider .swiper-pagination .swiper-pagination-bullet {
  background: #ffffff;
}

.shows__slider .swiper-pagination .swiper-pagination-bullet-active {
  background: #ffffff;
}

.shows .swiper:hover .swiper-button-prev, .shows .swiper:hover .swiper-button-next {
  opacity: 1;
}

.searchlist {
  margin-top: 5.5rem;
}

.show__modal .modal-dialog {
  max-width: 81.125rem;
}

@media (max-width: 575.98px) {
  .show__modal .modal-dialog {
    max-width: 95%;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .show__modal .modal-dialog {
    max-width: 95%;
  }
}

.show__modal .modal-dialog .modal-content {
  color: #ffffff;
  border-radius: 5rem;
  border: 1px solid rgba(0, 0, 0, 0);
}

.show__modal .modal-dialog .modal-content .modal__bg {
  border-radius: 3rem;
  background-color: #07002E;
}

.show__modal .modal-dialog .modal-content .modal__bg .modal-header {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  z-index: 1;
  border-bottom: none;
  width: 100%;
  background-color: #07002E;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 45rem;
}

.show__modal .modal-dialog .modal-content .modal__bg .modal-header:before {
  content: '';
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0);
  background: transparent -webkit-gradient(linear, left top, left bottom, color-stop(25%, rgba(9, 0, 46, 0)), to(#07002E)) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(180deg, rgba(9, 0, 46, 0) 25%, #07002E 100%) 0% 0% no-repeat padding-box;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  opacity: 1;
}

.show__modal .modal-dialog .modal-content .modal__bg .modal-header .close {
  position: relative;
  width: 3rem;
  height: auto;
  margin: 0.75rem;
  cursor: pointer;
}

.show__modal .modal-dialog .modal-content .modal__bg .modal-header .modal__contents {
  position: relative;
  padding: 1rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width: 575.98px) {
  .show__modal .modal-dialog .modal-content .modal__bg .modal-header .modal__contents {
    padding: 1rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .show__modal .modal-dialog .modal-content .modal__bg .modal-header .modal__contents {
    padding: 1rem 2rem;
  }
}

.show__modal .modal-dialog .modal-content .modal__bg .modal-header .modal__contents__left img {
  width: 20rem;
  height: auto;
  border-radius: 1.5rem;
  border: 0.1875rem solid #67fe65;
}

.show__modal .modal-dialog .modal-content .modal__bg .modal-header .modal__contents__right {
  padding-left: 2rem;
}

@media (max-width: 575.98px) {
  .show__modal .modal-dialog .modal-content .modal__bg .modal-header .modal__contents__right {
    padding: 2rem 0;
  }
}

.show__modal .modal-dialog .modal-content .modal__bg .modal-header .modal__contents__right .modal-title {
  color: #67fe65;
  font-size: 3rem;
  font-weight: 700;
}

@media (max-width: 575.98px) {
  .show__modal .modal-dialog .modal-content .modal__bg .modal-header .modal__contents__right .modal-title {
    font-size: 1.5rem;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .show__modal .modal-dialog .modal-content .modal__bg .modal-header .modal__contents__right .modal-title {
    font-size: 1.75rem;
  }
}

.show__modal .modal-dialog .modal-content .modal__bg .modal-header .modal__contents__right h5 {
  font-size: 1.75rem;
  padding-bottom: 2.25rem;
}

@media (max-width: 575.98px) {
  .show__modal .modal-dialog .modal-content .modal__bg .modal-header .modal__contents__right h5 {
    padding-bottom: 1.5rem;
    font-size: 1.25rem;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .show__modal .modal-dialog .modal-content .modal__bg .modal-header .modal__contents__right h5 {
    padding-bottom: 1.75rem;
    font-size: 1.25rem;
  }
}

.show__modal .modal-dialog .modal-content .modal__bg .modal-header .modal__contents__right h6 {
  font-size: 2.25rem;
  font-weight: 600;
  padding-bottom: 0.5rem;
}

@media (max-width: 575.98px) {
  .show__modal .modal-dialog .modal-content .modal__bg .modal-header .modal__contents__right h6 {
    font-size: 1.25rem;
    padding-bottom: 1rem;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .show__modal .modal-dialog .modal-content .modal__bg .modal-header .modal__contents__right h6 {
    padding-bottom: 1rem;
    font-size: 1.75rem;
  }
}

.show__modal .modal-dialog .modal-content .modal__bg .modal-header .modal__contents__right h4 {
  font-size: 1.5rem;
  font-weight: 500;
  padding-bottom: 2rem;
}

@media (max-width: 575.98px) {
  .show__modal .modal-dialog .modal-content .modal__bg .modal-header .modal__contents__right h4 {
    font-size: 1rem;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .show__modal .modal-dialog .modal-content .modal__bg .modal-header .modal__contents__right h4 {
    font-size: 1.25rem;
  }
}

.show__modal .modal-dialog .modal-content .modal__bg .modal-header .modal__contents__right p {
  font-size: 1.25rem;
}

@media (max-width: 575.98px) {
  .show__modal .modal-dialog .modal-content .modal__bg .modal-header .modal__contents__right p {
    font-size: 1rem;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .show__modal .modal-dialog .modal-content .modal__bg .modal-header .modal__contents__right p {
    font-size: 1rem;
  }
}

.show__modal .modal-dialog .modal-content .modal__bg .modal__buttons {
  position: relative;
  width: 100%;
  padding: 1rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 575.98px) {
  .show__modal .modal-dialog .modal-content .modal__bg .modal__buttons {
    padding: 0 1rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .show__modal .modal-dialog .modal-content .modal__bg .modal__buttons {
    padding: 1rem 2rem;
  }
}

.show__modal .modal-dialog .modal-content .modal__bg .modal__buttons ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.show__modal .modal-dialog .modal-content .modal__bg .modal__buttons ul li {
  margin-right: 1rem;
}

.show__modal .modal-dialog .modal-content .modal__bg .modal__buttons ul li button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 1.25rem;
  font-weight: 600;
  border-radius: 1.5rem;
  padding: 0.5rem 2rem;
  background: rgba(255, 255, 255, 0) -webkit-gradient(linear, right top, left top, from(#67fe65), to(#67fe65)) 0% 0% no-repeat padding-box;
  background: rgba(255, 255, 255, 0) linear-gradient(270deg, #67fe65 0%, #67fe65 100%) 0% 0% no-repeat padding-box;
  color: #0e005c;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  border: 0;
}

.show__modal .modal-dialog .modal-content .modal__bg .modal__buttons ul li button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.show__modal .modal-dialog .modal-content .modal__bg .modal__buttons ul li button img {
  width: 1.25rem;
  margin-right: 0.5rem;
}

.show__modal .modal-dialog .modal-content .modal__bg .modal__buttons ul li img {
  cursor: pointer;
  width: 2.85rem;
  height: auto;
}

@media (max-width: 575.98px) {
  .show__modal .modal-dialog .modal-content .modal__bg .modal__buttons ul li img {
    width: 1.5rem;
  }
}

.show__modal .modal-dialog .modal-content .modal__bg .modal__buttons h2 {
  font-size: 1.25rem;
  padding-top: 1.25rem;
  font-weight: 400;
}

@media (max-width: 575.98px) {
  .show__modal .modal-dialog .modal-content .modal__bg .modal__buttons h2 {
    font-size: 1rem;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .show__modal .modal-dialog .modal-content .modal__bg .modal__buttons h2 {
    font-size: 1rem;
    padding-bottom: 1rem;
  }
}

.show__modal .modal-dialog .modal-content .modal__bg .modal__buttons h2 span {
  font-weight: 600;
}

.show__modal .modal-dialog .modal-content .modal__bg .modal-body .body__contents {
  padding: 1rem 3rem 0 3rem;
}

@media (max-width: 575.98px) {
  .show__modal .modal-dialog .modal-content .modal__bg .modal-body .body__contents {
    padding: 1rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .show__modal .modal-dialog .modal-content .modal__bg .modal-body .body__contents {
    padding: 1rem 2rem;
  }
}

.show__modal .modal-dialog .modal-content .modal__bg .modal-body .body__contents__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.show__modal .modal-dialog .modal-content .modal__bg .modal-body .body__contents__title h2 {
  font-size: 2.125rem;
  font-weight: 600;
}

@media (max-width: 575.98px) {
  .show__modal .modal-dialog .modal-content .modal__bg .modal-body .body__contents__title h2 {
    font-size: 1.25rem;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .show__modal .modal-dialog .modal-content .modal__bg .modal-body .body__contents__title h2 {
    font-size: 1.75rem;
    padding-bottom: 1rem;
  }
}

.show__modal .modal-dialog .modal-content .modal__bg .modal-body .body__contents__title .input-group {
  width: auto;
}

.show__modal .modal-dialog .modal-content .modal__bg .modal-body .body__contents__title .input-group select {
  border: none;
  font-size: 1.25rem;
  padding: 0.5rem 1rem;
  font-weight: 600;
  color: #ffffff;
  background-color: #3E337D;
}

@media (max-width: 575.98px) {
  .show__modal .modal-dialog .modal-content .modal__bg .modal-body .body__contents__title .input-group select {
    font-size: 1rem;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .show__modal .modal-dialog .modal-content .modal__bg .modal-body .body__contents__title .input-group select {
    font-size: 1.5rem;
  }
}

.show__modal .modal-dialog .modal-content .modal__bg .modal-body .body__contents__episodes__single {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 0;
  border-bottom: 0.125rem solid #3E337D;
}

@media (max-width: 575.98px) {
  .show__modal .modal-dialog .modal-content .modal__bg .modal-body .body__contents__episodes__single {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.show__modal .modal-dialog .modal-content .modal__bg .modal-body .body__contents__episodes__single__left {
  width: 38%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 575.98px) {
  .show__modal .modal-dialog .modal-content .modal__bg .modal-body .body__contents__episodes__single__left {
    width: 100%;
    padding-bottom: 2rem;
  }
}

.show__modal .modal-dialog .modal-content .modal__bg .modal-body .body__contents__episodes__single__left span {
  font-size: 1.65rem;
  font-weight: 600;
}

.show__modal .modal-dialog .modal-content .modal__bg .modal-body .body__contents__episodes__single__left__thumb {
  position: relative;
}

.show__modal .modal-dialog .modal-content .modal__bg .modal-body .body__contents__episodes__single__left__thumb img {
  width: 24.5rem;
  height: auto;
  cursor: pointer;
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .show__modal .modal-dialog .modal-content .modal__bg .modal-body .body__contents__episodes__single__left__thumb img {
    width: 18rem;
  }
}

.show__modal .modal-dialog .modal-content .modal__bg .modal-body .body__contents__episodes__single__left__thumb:before {
  content: '';
  background: url("../Image/play_button_white.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 5rem;
  height: 5rem;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: pointer;
}

.show__modal .modal-dialog .modal-content .modal__bg .modal-body .body__contents__episodes__single__right {
  width: 58%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 575.98px) {
  .show__modal .modal-dialog .modal-content .modal__bg .modal-body .body__contents__episodes__single__right {
    width: 100%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.show__modal .modal-dialog .modal-content .modal__bg .modal-body .body__contents__episodes__single__right__info {
  width: 80%;
}

@media (max-width: 575.98px) {
  .show__modal .modal-dialog .modal-content .modal__bg .modal-body .body__contents__episodes__single__right__info {
    width: 75%;
  }
}

.show__modal .modal-dialog .modal-content .modal__bg .modal-body .body__contents__episodes__single__right__info h4 {
  font-size: 2.125rem;
  font-weight: 600;
  padding-bottom: 1.25rem;
}

@media (max-width: 575.98px) {
  .show__modal .modal-dialog .modal-content .modal__bg .modal-body .body__contents__episodes__single__right__info h4 {
    font-size: 1.125rem;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .show__modal .modal-dialog .modal-content .modal__bg .modal-body .body__contents__episodes__single__right__info h4 {
    font-size: 1.5rem;
  }
}

.show__modal .modal-dialog .modal-content .modal__bg .modal-body .body__contents__episodes__single__right__info p {
  font-size: 1.25rem;
}

@media (max-width: 575.98px) {
  .show__modal .modal-dialog .modal-content .modal__bg .modal-body .body__contents__episodes__single__right__info p {
    font-size: 1rem;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .show__modal .modal-dialog .modal-content .modal__bg .modal-body .body__contents__episodes__single__right__info p {
    font-size: 1rem;
  }
}

.show__modal .modal-dialog .modal-content .modal__bg .modal-body .body__contents__episodes__single__right span {
  font-size: 1.65rem;
  font-weight: 600;
}

@media (max-width: 575.98px) {
  .show__modal .modal-dialog .modal-content .modal__bg .modal-body .body__contents__episodes__single__right span {
    font-size: 1.125rem;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .show__modal .modal-dialog .modal-content .modal__bg .modal-body .body__contents__episodes__single__right span {
    font-size: 1.25rem;
  }
}

.show__modal .modal-dialog .modal-content .modal__bg .modal-body .body__contents__episodes__single:last-child {
  position: relative;
}

.show__modal .modal-dialog .modal-content .modal__bg .modal-body .body__contents__episodes__single:last-child:after {
  content: '';
  background: url("../Image/arrow_left_green.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 3rem;
  height: 3rem;
  bottom: -1.5rem;
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  cursor: pointer;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

.show__modal .modal-dialog .modal-content .modal__bg .modal-body .body__contents__similar h2 {
  padding-top: 5rem;
  color: #67fe65;
  font-size: 2.125rem;
  font-weight: 600;
}

@media (max-width: 575.98px) {
  .show__modal .modal-dialog .modal-content .modal__bg .modal-body .body__contents__similar h2 {
    font-size: 1.25rem;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .show__modal .modal-dialog .modal-content .modal__bg .modal-body .body__contents__similar h2 {
    font-size: 1.75rem;
    padding-bottom: 1rem;
  }
}

.show__modal .modal-dialog .modal-content .modal__bg .modal-body .body__contents__similar__contents {
  padding: 2rem 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.show__modal .modal-dialog .modal-content .modal__bg .modal-body .body__contents__similar__contents__singleItem {
  width: 21.125rem;
  margin-bottom: 4rem;
}

@media (max-width: 575.98px) {
  .show__modal .modal-dialog .modal-content .modal__bg .modal-body .body__contents__similar__contents__singleItem {
    width: 100%;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .show__modal .modal-dialog .modal-content .modal__bg .modal-body .body__contents__similar__contents__singleItem {
    width: 25rem;
  }
}

.show__modal .modal-dialog .modal-content .modal__bg .modal-body .body__contents__similar__contents__singleItem__top {
  background-color: #0e005c;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 16.6875rem;
  border-top-left-radius: 2.5rem;
  border-top-right-radius: 2.5rem;
  position: relative;
}

.show__modal .modal-dialog .modal-content .modal__bg .modal-body .body__contents__similar__contents__singleItem__top span {
  font-size: 1.5rem;
  font-weight: 600;
  position: absolute;
  right: 1.5rem;
  top: 2rem;
}

.show__modal .modal-dialog .modal-content .modal__bg .modal-body .body__contents__similar__contents__singleItem__top:before {
  content: '';
  background: url("../Image/play_button_white.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 6rem;
  height: 6rem;
  bottom: 0;
  right: 0;
  cursor: pointer;
}

.show__modal .modal-dialog .modal-content .modal__bg .modal-body .body__contents__similar__contents__singleItem__below {
  background-color: #2C2261;
  width: 100%;
  padding: 0 1.5rem 2rem 1.5rem;
}

.show__modal .modal-dialog .modal-content .modal__bg .modal-body .body__contents__similar__contents__singleItem__below h4 {
  font-size: 1.5rem;
  font-weight: 600;
  padding: 2rem 0 1rem 0;
}

.show__modal .modal-dialog .modal-content .modal__bg .modal-body .body__contents__similar__contents__singleItem__below h6 {
  font-size: 1.25rem;
  font-weight: 400;
  padding-bottom: 1rem;
}

.show__modal .modal-dialog .modal-content .modal__bg .modal-body .body__contents__similar__contents__singleItem__below p {
  font-size: 1.125rem;
}

.video {
  background: #07002E;
  padding: 5rem 3rem;
}

@media (max-width: 575.98px) {
  .video {
    padding: 2rem 2rem;
  }
}

.video__content {
  width: 75%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 991.98px) {
  .video__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 1299.98px) {
  .video__content {
    width: 100%;
  }
}

@media (min-width: 992px) and (max-width: 1299.98px) {
  .video__content {
    width: 100%;
  }
}

.video__content__left {
  width: 95%;
  position: relative;
}

@media (max-width: 991.98px) {
  .video__content__left {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 2rem;
  }
}

@media (min-width: 992px) and (max-width: 1299.98px) {
  .video__content__left {
    width: 90%;
  }
}

.video__content__left img {
  width: 38.375rem;
  height: 24.25rem;
}

@media (max-width: 991.98px) {
  .video__content__left img {
    width: 100%;
    height: auto;
  }
}

.video__content__left__player {
  position: absolute;
  top: -2.125rem;
  margin-left: 0.375rem;
}

@media (max-width: 991.98px) {
  .video__content__left__player {
    top: 0.5rem;
    margin-left: 0.375rem;
  }
}

.video__content__left__player video {
  width: 35.4375rem;
  height: 25rem;
}

@media (max-width: 991.98px) {
  .video__content__left__player video {
    width: 93%;
    height: auto;
  }
}

.video__content__right {
  width: 95%;
}

@media (max-width: 991.98px) {
  .video__content__right {
    width: 90%;
  }
}

@media (min-width: 992px) and (max-width: 1299.98px) {
  .video__content__right {
    width: 90%;
    padding-left: 2rem;
  }
}

.video__content__right h6 {
  font-size: 2.25rem;
  font-weight: 600;
  color: #67fe65;
}

.video__content__right p {
  font-size: 1.375rem;
  font-weight: 500;
  margin: 2rem 0;
}

.featured {
  background: #07002E;
  padding: 3rem 0;
}

@media (max-width: 575.98px) {
  .featured {
    padding: 3rem 2rem;
  }
}

.featured .swiper-wrapper {
  margin-left: 3rem !important;
}

.featured__content__top {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

@media (max-width: 991.98px) {
  .featured__content__top {
    width: 90%;
    text-align: center;
  }
}

@media (min-width: 992px) and (max-width: 1299.98px) {
  .featured__content__top {
    width: 90%;
    padding-left: 2rem;
  }
}

.featured__content__top h6 {
  font-size: 2.25rem;
  font-weight: 600;
  color: #67fe65;
}

.featured__content__top p {
  font-size: 1.375rem;
  font-weight: 500;
  margin: 2rem 0;
}

.devices .featured__content__below {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  position: relative;
}

@media (max-width: 991.98px) {
  .devices .featured__content__below {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 2rem;
  }
}

@media (min-width: 992px) and (max-width: 1299.98px) {
  .devices .featured__content__below {
    width: 90%;
  }
}

.devices .featured__content__below img {
  position: relative;
  width: 50rem;
  height: auto;
}

@media (max-width: 991.98px) {
  .devices .featured__content__below img {
    width: 100%;
    height: auto;
  }
}

.devices .featured__content__below .video__content__left__player {
  position: absolute;
  top: 2.875rem;
  margin-left: 9rem;
}

@media (max-width: 991.98px) {
  .devices .featured__content__below .video__content__left__player {
    top: 2.875rem;
    margin-left: 9rem;
  }
}

@media (max-width: 575.98px) {
  .devices .featured__content__below .video__content__left__player {
    top: 1.5rem;
    margin-left: 5rem;
  }
}

.devices .featured__content__below .video__content__left__player video {
  width: 31.5rem;
  height: auto;
}

@media (max-width: 575.98px) {
  .devices .featured__content__below .video__content__left__player video {
    width: 75%;
  }
}

.faq {
  padding: 5rem 3rem;
}

@media (max-width: 575.98px) {
  .faq {
    padding: 2rem 2rem;
  }
}

.faq__content {
  width: 60%;
  margin: 0 auto;
}

@media (max-width: 991.98px) {
  .faq__content {
    width: 80%;
  }
}

@media (max-width: 575.98px) {
  .faq__content {
    width: 100%;
  }
}

.faq__content h2 {
  font-size: 2.25rem;
  font-weight: 600;
  color: #67fe65;
  text-align: center;
  margin-bottom: 3rem;
}

.faq__content__form button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  width: 100%;
  text-align: left;
  color: #ffffff;
  margin-top: 0.5rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background: #4D4869;
  font-size: 1.5625rem;
}

@media (max-width: 575.98px) {
  .faq__content__form button {
    font-size: 1.25rem;
  }
}

.faq__content__form button .title {
  display: block;
  position: relative;
  width: 100%;
}

.faq__content__form button .title .minus {
  content: url("../Image/minus.svg");
  width: 1rem;
  height: 1rem;
  position: absolute;
  right: 0;
  top: 0.5rem;
}

.faq__content__form button .title .plus {
  content: url("../Image/plus.svg");
  width: 1rem;
  height: 1rem;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  position: absolute;
  right: 0;
  top: 0.5rem;
}

.faq__content__form button:hover {
  background-color: #67fe65;
  color: #121212;
}

.faq__content__form .panel-close {
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1rem 2rem;
  opacity: 0;
  height: 0;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

.faq__content__form .panel-open {
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1rem 2rem;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
  opacity: 1;
  -webkit-transition: all 0.085s ease-in;
  transition: all 0.085s ease-in;
}

.plans {
  background-color: #67fe65 !important;
  padding: 3rem;
}

.plans__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
  margin: 0 auto;
}

@media (max-width: 575.98px) {
  .plans__content {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

@media (min-width: 992px) and (max-width: 1299.98px) {
  .plans__content {
    width: 90%;
  }
}

.plans__content h3 {
  font-size: 1.5rem;
  color: #07002E;
  font-weight: 600;
}

@media (max-width: 575.98px) {
  .plans__content h3 {
    padding-bottom: 1rem;
  }
}

.plans__content h3 span {
  font-weight: 800;
}

.plans__content button {
  background-color: #ffffff;
  font-size: 1.5rem;
}

.plans__content button:hover {
  border: 0.125rem solid #ffffff !important;
}

.footer {
  padding: 1rem 0 2rem 0;
}

@media (max-width: 575.98px) {
  .footer {
    padding-bottom: 6.5rem;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .footer {
    padding-bottom: 7rem;
  }
}

.footer__credit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 991.98px) {
  .footer__credit {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__credit__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 991.98px) {
  .footer__credit__logo {
    padding-bottom: 1rem;
  }
}

.footer__credit__logo svg {
  width: 5rem;
  height: auto;
  fill: #ffffff;
  margin-right: 1.5rem;
}

.footer__credit__logo p {
  font-size: 1rem;
  font-weight: 500;
  color: #ffffff;
  padding-top: 0.5rem;
}

.footer__credit ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 575.98px) {
  .footer__credit ul {
    display: none;
  }
}

.footer__credit ul li {
  margin-left: 2rem;
}

.footer__credit ul li a {
  font-size: 1rem;
  font-weight: 500;
  color: #ffffff;
}

.footer__credit ul li a:hover {
  color: #67fe65;
}

.notFound {
  background-color: #07002E;
  color: #ffffff;
  height: 100vh;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.notFound h2 {
  display: inline-block;
  border-right: 1px solid #ffffff;
  margin: 0;
  margin-right: 1.25rem;
  padding: 1.25rem 1.4375rem 1.25rem 0;
  font-size: 1.5rem;
  vertical-align: top;
  font-weight: 900;
}

.notFound .bar {
  display: inline-block;
  text-align: left;
  line-height: 3rem;
  height: 3rem;
  vertical-align: middle;
}

.notFound .bar h3 {
  font-weight: normal;
  line-height: inherit;
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

@media (max-width: 575.98px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 992px) and (max-width: 1299.98px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 1300px) and (max-width: 1531.98px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 1532px) and (max-width: 1600px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 2500px) {
  html {
    font-size: 22px;
  }
}

@media (max-width: 320px) {
  html {
    font-size: 9px;
  }
}

@media (min-width: 321px) and (max-width: 376px) {
  html {
    font-size: 10px;
  }
}

body {
  font-family: "Epilogue", sans-serif;
  background-color: #07002E;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

::-webkit-scrollbar {
  width: 0.1875rem;
  height: 0.1875rem;
  border-radius: 0.625rem;
}

::-webkit-scrollbar-track {
  border-radius: 0.625rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.625rem;
  background: #67fe65;
}

::-webkit-scrollbar-thumb:window-inactive {
  background: #67fe65;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

h2 {
  font-size: 1.5rem;
  font-weight: 500;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  margin: 0;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a, select, input, textarea, button {
  outline: none !important;
}

.btn:focus, .btn.focus, .form-control:focus {
  outline: 0 !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.btn-link:focus, .btn-link.focus {
  text-decoration: none;
}

.relativeTop {
  position: relative;
  top: 52rem;
  background: #07002E;
}

@media (max-width: 575.98px) {
  .relativeTop {
    top: 28rem;
  }
}

.main-btn {
  font-size: 1.25rem;
  font-weight: 600;
  border-radius: 1.5rem;
  padding: 0.5rem 1.75rem 0.25rem 1.75rem;
  background: #67fe65;
  color: #121212 !important;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
  border: 0;
  border: 0.125rem solid #67fe65;
}

@media (max-width: 575.98px) {
  .main-btn {
    font-size: 1rem;
  }
}

.main-btn:hover {
  border: 0.125rem solid #67fe65 !important;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  color: #ffffff !important;
  background: #07002E;
}

.wrapper {
  margin: 0 auto;
  padding: 0 1rem;
}

@media (max-width: 575.98px) {
  .wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .wrapper {
    width: 100%;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .wrapper {
    max-width: 720px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .wrapper {
    max-width: 960px;
  }
}

@media (min-width: 1200px) and (max-width: 1299.98px) {
  .wrapper {
    max-width: 95rem;
  }
}

@media (min-width: 1300px) and (max-width: 1398.98px) {
  .wrapper {
    max-width: 105rem;
  }
}

@media (min-width: 1400px) {
  .wrapper {
    max-width: 115rem;
  }
}
/*# sourceMappingURL=style.css.map */